Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app-blog, lib-blog-container, lib-styles, lib-ui-elements, lib-util-fns

.codecov.yml:

comment:
  layout: reach
  behavior: new
  require_changes: true
coverage:
  range: 0..100
  round: nearest
  precision: 1
  status:
    patch:
      default:
        target: 50%
        threshold: 10%
    project:
      default:
        target: 50%
        threshold: 10%
      app-blog:
        flags:
          - app-blog
      lib-blog-container:
        flags:
          - lib-blog-container
      lib-styles:
        flags:
          - lib-styles
      lib-ui-elements:
        flags:
          - lib-ui-elements
      lib-util-fns:
        flags:
          - lib-util-fns
flags:
  app-blog:
    paths:
      - apps/blog
  lib-blog-container:
    paths:
      - ng-features/blog-container
  lib-styles:
    paths:
      - ng-libs/styles
  lib-ui-elements:
    paths:
      - ng-libs/ui-elements
  lib-util-fns:
    paths:
      - libs/util-fns

feat(blog): add animation to app config
  apps/blog/src/app/app.config.ts
Due: app-blog

feat(ui-elements): use animation to add/remove nav element
  ng-libs/ui-elements/package.json
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.html
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: lib-ui-elements

fix(blog): update spec to use mocked component
  apps/blog/src/app/pages/about-me.component.spec.ts
Due: app-blog

chore(ui-elements): add test to validate back to top removed
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
Due: lib-ui-elements

fix(ui-elements): adjust animation keyframes for nav elements
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: lib-ui-elements

feat(ui-elements): add `Back to top` nav when elements in view
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
  ng-libs/ui-elements/src/lib/article/article.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article.component.ts
Due: lib-ui-elements

fix(ui-elements): reset active article nav when none in view
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: lib-ui-elements

fix(blog-container): update spec to use mocked component
  ng-features/blog-container/src/lib/pages/blog-entry/blog-entry.component.spec.ts
Due: lib-blog-container

chore(blog): update folder structure
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/components/about-me/about-me.component.scss
  apps/blog/src/app/components/about-me/about-me.component.spec.ts
  apps/blog/src/app/components/about-me/about-me.component.ts
  apps/blog/src/app/components/about-me/index.ts
  apps/blog/src/app/pages/landing/index.ts
  apps/blog/src/app/pages/landing/landing.component.scss
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog

chore: exclude `.nx-cache` folder in tsconfig
  tsconfig.base.json
Due: none

feat(blog): create development-notes component in pages
  apps/blog/src/app/pages/development-notes/development-notes.component.html
  apps/blog/src/app/pages/development-notes/development-notes.component.scss
  apps/blog/src/app/pages/development-notes/development-notes.component.spec.ts
  apps/blog/src/app/pages/development-notes/development-notes.component.ts
  apps/blog/src/app/pages/development-notes/index.ts
Due: app-blog

feat(blog): create not-found page
  apps/blog/src/app/pages/not-found/index.ts
  apps/blog/src/app/pages/not-found/not-found.component.spec.ts
  apps/blog/src/app/pages/not-found/not-found.component.ts
Due: app-blog

feat(blog): update routes with `development-notes` and wildcard for `not-found`
  .github/workflows/blog-build-deploy.yml
  apps/blog/src/app/app.component.spec.ts
  apps/blog/src/app/app.routes.spec.ts
  apps/blog/src/app/app.routes.ts
Due: app-blog

feat(ui-elements): create page-introduction component
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

fix(ui-elements): move `pj-ui-theme-toggle` into `theme-toggle` folder
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/theme-toggle/index.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.ts
  ng-libs/ui-elements/src/lib/theme-toggle/themes.type.ts
Due: lib-ui-elements

fix(ui-elements): add index for `page-introduction`
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/index.ts
Due: lib-ui-elements

chore(ui-elements): update README with purpose and proposed plan for further documentation
  ng-libs/ui-elements/README.md
Due: lib-ui-elements

feat(ui-elements): implement page-introduction
  ng-libs/ui-elements/src/lib/page-introduction/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/models/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/models/introduction-call-to-action.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

feat(blog): use page introduction in landing page
  apps/blog/src/app/pages/landing/landing.component.scss
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog

fix(blog): rename `pug_1280.webp` to `intro_background.webp`
  apps/blog/src/assets/intro_background.webp
Due: app-blog

feat(ui-elements): allow for customizing background in page-introduction
  ng-libs/ui-elements/src/lib/page-introduction/models/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/models/introduction-background-style.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

fix(blog): update usage of page-introduction
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog

fix(ui-elements): use output to drive page-introduction click
  ng-libs/ui-elements/src/lib/page-introduction/models/introduction-call-to-action.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

feat(ui-elements): update actions to take in string as label
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

fix(ui-elements): rename `title` input to `introductionTitle`
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

feat(ui-elements): display content of page-introduction component
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

feat(blog): update not-found.component to display details
  apps/blog/src/app/pages/not-found/not-found.component.spec.ts
  apps/blog/src/app/pages/not-found/not-found.component.ts
  apps/blog/src/assets/not_found_background.webp
Due: app-blog

feat(blog): add content for `development-notes`
  apps/blog/src/app/pages/development-notes/development-notes.component.html
  apps/blog/src/app/pages/development-notes/development-notes.component.spec.ts
  apps/blog/src/app/pages/development-notes/development-notes.component.ts
  apps/blog/src/assets/development_notes_background.webp
Due: app-blog

fix(blog): update not-found to use `introductionTitle`
  apps/blog/src/app/pages/not-found/not-found.component.ts
Due: app-blog

feat(blog): update landing call to action functionality
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog
