Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app_blog, ng-features_blog-container, ng-libs_services, ng-libs_styles, ng-libs_md-renderer, ng-libs_ui-elements, ts-libs_ts-utils, ts-libs_md-parser, ts-libs_ts-md-models

.codecov.yml:

comment:
  layout: 'condensed_header, condensed_files, flags, condensed_footer'
  behavior: once
  require_changes: true
coverage:
  range: 70..100
  round: down
  precision: 2
  status:
    patch:
      default:
        target: auto
        threshold: 5%
      app_blog:
        flags:
          - app_blog
      ng-features_blog-container:
        flags:
          - ng-features_blog-container
      ng-libs_services:
        flags:
          - ng-libs_services
      ng-libs_md-renderer:
        flags:
          - ng-libs_md-renderer
      ng-libs_styles:
        flags:
          - ng-libs_styles
      ng-libs_ui-elements:
        flags:
          - ng-libs_ui-elements
      ts-libs_ts-utils:
        flags:
          - ts-libs_ts-utils
      ts-libs_md-parser:
        flags:
          - ts-libs_md-parser
      ts-libs_ts-md-models:
        flags:
          - ts-libs_ts-md-models
    project:
      default:
        target: auto
        threshold: 5%
      app_blog:
        flags:
          - app_blog
      ng-features_blog-container:
        flags:
          - ng-features_blog-container
      ng-libs_services:
        flags:
          - ng-libs_services
      ng-libs_styles:
        flags:
          - ng-libs_styles
      ng-libs_md-renderer:
        flags:
          - ng-libs_md-renderer
      ng-libs_ui-elements:
        flags:
          - ng-libs_ui-elements
      ts-libs_ts-utils:
        flags:
          - ts-libs_ts-utils
      ts-libs_md-parser:
        flags:
          - ts-libs_md-parser
      ts-libs_ts-md-models:
        flags:
          - ts-libs_ts-md-models
flags:
  app_blog:
    paths:
      - apps/blog
  ng-features_blog-container:
    paths:
      - ng-features/blog-container
  ng-libs_services:
    paths:
      - ng-libs/services
  ng-libs_styles:
    paths:
      - ng-libs/styles
  ng-libs_md-renderer:
    paths:
      - ng-libs/md-renderer
  ng-libs_ui-elements:
    paths:
      - ng-libs/ui-elements
  ts-libs_ts-utils:
    paths:
      - ts-libs/ts-utils
  ts-libs_md-parser:
    paths:
      - ts-libs/md-parser
  ts-libs_ts-md-models:
    paths:
      - ts-libs/ts-md-models

chore: add run scripts for testing `ng-services`
  .run/ng-services_test.run.xml
  .run/ng-services_test_watch.run.xml
Due: none

feat(md-renderer): update intersection observer
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.html
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
Due: ng-libs_md-renderer

feat(ng-libs): create `md-renderer` library to render parsed markdown
  ng-libs/md-renderer/.eslintrc.json
  ng-libs/md-renderer/README.md
  ng-libs/md-renderer/jest.config.ts
  ng-libs/md-renderer/ng-package.json
  ng-libs/md-renderer/package.json
  ng-libs/md-renderer/project.json
  ng-libs/md-renderer/src/index.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.spec.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/test-setup.ts
  ng-libs/md-renderer/tsconfig.json
  ng-libs/md-renderer/tsconfig.lib.json
  ng-libs/md-renderer/tsconfig.lib.prod.json
  ng-libs/md-renderer/tsconfig.spec.json
  tsconfig.base.json
Due: ng-libs_md-renderer

feat(md-renderer): adjust directive to handle all content
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.spec.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/directives/md-section.directive.spec.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.html
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
Due: ng-libs_md-renderer

feat(md-renderer): update md-content service id generation
  ng-libs/md-renderer/src/lib/services/md-content.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.ts
Due: ng-libs_md-renderer

feat(md-renderer): update markdown rendering
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/md-unknown.component.ts
  ng-libs/md-renderer/src/lib/directives/md-section.directive.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.html
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.scss
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.spec.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.spec.ts
Due: ng-libs_md-renderer

feat(md-renderer): start implementing md-renderer
  ng-libs/md-renderer/package.json
  ng-libs/md-renderer/project.json
  ng-libs/md-renderer/src/lib/components/has-content.directive.ts
  ng-libs/md-renderer/src/lib/components/index.ts
  ng-libs/md-renderer/src/lib/components/list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/list.component.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-image.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-link.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-text.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/section.component.spec.ts
  ng-libs/md-renderer/src/lib/components/section.component.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
Due: ng-libs_md-renderer

feat(ts-md-models): add generic for markdown type
  ts-libs/ts-md-models/src/lib/markdown-content.ts
Due: ts-libs_ts-md-models

feat(md-renderer): improve typing and improve display styles
  ng-libs/md-renderer/src/lib/components/md-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-image.component.ts
  ng-libs/md-renderer/src/lib/components/md-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/md-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-text.component.ts
  ng-libs/md-renderer/src/lib/components/md-unknown.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.spec.ts
  ng-libs/md-renderer/src/lib/has-content.ts
  ng-libs/md-renderer/src/lib/injection.tokens.ts
  ng-libs/md-renderer/src/lib/md-components.module.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.html
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.scss
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
Due: ng-libs_md-renderer

chore: remove swc from packages
  package-lock.json
  package.json
Due: none

feat(md-renderer): start styling and add tabloe of contents
  ng-libs/md-renderer/package.json
  ng-libs/md-renderer/src/lib/components/paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/section.component.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.scss
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.spec.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.html
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.scss
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.spec.ts
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.ts
Due: ng-libs_md-renderer

chore(md-renderer): optimize imports
  ng-libs/md-renderer/src/lib/components/md-image.component.ts
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
  ng-libs/md-renderer/src/lib/md-components.module.ts
Due: ng-libs_md-renderer

chore: add run scripts for md-renderer:test
  .run/md-renderer_test.run.xml
Due: none

fix(md-parser): update peerDependencies to include ts-md-models
  ts-libs/md-parser/package.json
Due: ts-libs_md-parser

fix(.github): adjust git commands to checkout `main`
  .github/workflows/_workflow.jobs.lint_test_build_affected.yml
Due: none

fix(md-parser): simplify parse-markdown spec
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
Due: ts-libs_md-parser

feat(ts-md-models)!: update models to improve `list` and `ordered-list`
  ts-libs/ts-md-models/src/lib/index.ts
  ts-libs/ts-md-models/src/lib/markdown-content.ts
  ts-libs/ts-md-models/src/lib/md-model-check.spec.ts
  ts-libs/ts-md-models/src/lib/paragraph-content-type.ts
  ts-libs/ts-md-models/src/lib/rich-content-type.ts
  ts-libs/ts-md-models/src/lib/section-content-type.ts
Due: ts-libs_ts-md-models

chore: add run script for ts-md-models project tests
  .run/ts-md-models_test_watch.run.xml
Due: none

feat(ts-md-models)!: update individual content interfaces
  ts-libs/ts-md-models/src/lib/markdown-content.ts
  ts-libs/ts-md-models/src/lib/section-content-type.ts
Due: ts-libs_ts-md-models

feat(ts-md-models)!: update individual content interfaces
  ts-libs/ts-md-models/src/lib/markdown-content.ts
Due: ts-libs_ts-md-models

fix(ts-md-models): use `MarkdownType` for `mdModelCheck`
  ts-libs/ts-md-models/src/lib/md-model-check.spec.ts
  ts-libs/ts-md-models/src/lib/md-model-check.ts
Due: ts-libs_ts-md-models

feat(md-renderer)!: use `MarkdownType` in components
  ng-libs/md-renderer/src/lib/components/md-image.component.ts
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/md-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-text.component.ts
  ng-libs/md-renderer/src/lib/components/md-unknown.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.spec.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/expected-content-types.ts
  ng-libs/md-renderer/src/lib/filter-content-type.spec.ts
  ng-libs/md-renderer/src/lib/filter-content-types.ts
  ng-libs/md-renderer/src/lib/has-content.ts
  ng-libs/md-renderer/src/lib/injection.tokens.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.ts
Due: ng-libs_md-renderer

fix(md-parser): resolve build failure
  ts-libs/md-parser/src/lib/_models/index.ts
Due: ts-libs_md-parser

feat(md-renderer): create component for title
  ng-libs/md-renderer/src/lib/components/md-title.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-title.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/md-components.module.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.html
Due: ng-libs_md-renderer

feat(md-renderer): create `md-list` to display lists
  ng-libs/md-renderer/src/lib/components/index.ts
  ng-libs/md-renderer/src/lib/components/md-list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-list.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/expected-content-types.ts
  ng-libs/md-renderer/src/lib/md-components.module.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
Due: ng-libs_md-renderer

feat(blog): add list to `about-me`
  apps/blog/src/app/pages/about-me/about-me.component.ts
Due: app_blog

feat(md-renderer): update expected content types
  ng-libs/md-renderer/src/lib/expected-content-types.ts
  ng-libs/md-renderer/src/lib/filter-content-types.ts
Due: ng-libs_md-renderer

fix(md-renderer): update style for list component
  ng-libs/md-renderer/src/lib/components/md-list.component.ts
Due: ng-libs_md-renderer

feat(.github): add `/about-me` page for lighthouse report
  .github/workflows/ci_cd.yml
Due: none

chore(md-renderer): remove `expected-content-types` file
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/md-list.component.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.spec.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/expected-content-types.ts
  ng-libs/md-renderer/src/lib/has-content.ts
  ng-libs/md-renderer/src/lib/injection.tokens.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
Due: ng-libs_md-renderer

fix(md-renderer): get specs passing
  ng-libs/md-renderer/src/lib/components/md-list.component.spec.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.spec.ts
Due: ng-libs_md-renderer

chore(.run): create `test:watch` run script
  .run/md-renderer_test_watch.run.xml
  .run/test_watch.run.xml
  .run/ts-md-models_test_watch.run.xml
Due: none
