Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app-blog, lib-blog-container, lib-styles, lib-ui-elements, lib-util-fns

feat(blog): update root component to use updated theme-toggle
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.spec.ts
  apps/blog/src/app/app.component.ts
  apps/blog/src/app/app.config.ts
Due: app-blog

fix(blog): set header logo as priority image
  apps/blog/src/app/app.component.html
Due: app-blog

feat(ng-services): add `setTheme` to `PjTheme` service
  ng-libs/services/package.json
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.ts
Due: none

feat(ui-elements): update theme-toggle to use `PjTheme`
  ng-libs/ui-elements/src/lib/theme-toggle/index.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.ts
  ng-libs/ui-elements/src/lib/theme-toggle/themes.type.ts
Due: lib-ui-elements

chore(blog): use mock FullPageLoaderComponent in root spec
  apps/blog/src/app/app.component.spec.ts
Due: app-blog

feat(ng-services): create `PjTheme` service with `setTheme` functionality
  ng-libs/services/README.md
  ng-libs/services/src/index.ts
  ng-libs/services/src/lib/pj-theme/README.md
  ng-libs/services/src/lib/pj-theme/index.ts
  ng-libs/services/src/lib/pj-theme/models/index.ts
  ng-libs/services/src/lib/pj-theme/models/pj-themes.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.provider.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.provider.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.ts
Due: none

fix(ui-elements): update styles for full-page-loader
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.ts
Due: lib-ui-elements

feat(blog): show full-page-loader in root component
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.ts
Due: app-blog

feat(ui-elements): create full-page-loader component
  ng-libs/ui-elements/README.md
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.spec.ts
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.ts
  ng-libs/ui-elements/src/lib/full-page-loader/index.ts
Due: lib-ui-elements

fix(ui-elements): use global background color for full-page-loader
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.ts
Due: lib-ui-elements

feat(ui-elements): create split-to-anchor pipe
  ng-libs/ui-elements/package.json
  ng-libs/ui-elements/src/lib/article/pipes/index.ts
  ng-libs/ui-elements/src/lib/article/pipes/split-to-anchor.pipe.spec.ts
  ng-libs/ui-elements/src/lib/article/pipes/split-to-anchor.pipe.ts
Due: lib-ui-elements

fix(ui-elements): update anchor pipe to target `_blank` for full URL
  ng-libs/ui-elements/src/lib/article/pipes/split-to-anchor.pipe.spec.ts
  ng-libs/ui-elements/src/lib/article/pipes/split-to-anchor.pipe.ts
Due: lib-ui-elements

feat(ui-elements): update article-section to use SplitToAnchorPipe
  ng-libs/ui-elements/src/lib/article/section/container/article-section.component.html
  ng-libs/ui-elements/src/lib/article/section/container/article-section.component.spec.ts
  ng-libs/ui-elements/src/lib/article/section/container/article-section.component.ts
Due: lib-ui-elements

fix(ui-elements): add `link` class to rendered anchor
  ng-libs/ui-elements/src/lib/article/pipes/split-to-anchor.pipe.spec.ts
  ng-libs/ui-elements/src/lib/article/pipes/split-to-anchor.pipe.ts
Due: lib-ui-elements

feat(styles): use underline for anchor links
  ng-libs/styles/src/lib/styles/global.scss
Due: lib-styles

feat(blog): add link to repository in about-me
  apps/blog/src/app/components/about-me/about-me.component.ts
Due: app-blog

chore(ui-elements): rename split-to-anchor to transform-article-content
  ng-libs/ui-elements/src/lib/article/pipes/index.ts
  ng-libs/ui-elements/src/lib/article/pipes/transform-article-content.pipe.spec.ts
  ng-libs/ui-elements/src/lib/article/pipes/transform-article-content.pipe.ts
  ng-libs/ui-elements/src/lib/article/section/container/article-section.component.html
  ng-libs/ui-elements/src/lib/article/section/container/article-section.component.spec.ts
  ng-libs/ui-elements/src/lib/article/section/container/article-section.component.ts
Due: lib-ui-elements

feat(ui-elements): update transform-article-content to render images
  ng-libs/ui-elements/src/lib/article/pipes/transform-article-content.pipe.spec.ts
  ng-libs/ui-elements/src/lib/article/pipes/transform-article-content.pipe.ts
Due: lib-ui-elements

fix(ui-elements): set article section container to grow
  ng-libs/ui-elements/src/lib/article/section/container/article-section.component.html
Due: lib-ui-elements

feat(blog): add image to about-me component
  apps/blog/src/app/components/about-me/about-me.component.ts
  apps/blog/src/assets/images/basic-image.webp
Due: app-blog

feat(blog): defer article in `development-notes`
  apps/blog/src/app/pages/development-notes/development-notes.component.html
Due: app-blog

chore(deps): install `@angular/pwa` as dev dependency
  package-lock.json
  package.json
Due: none

feat(blog): set up project as PWA
  apps/blog/ngsw-config.json
  apps/blog/project.json
  apps/blog/src/app/app.config.ts
  apps/blog/src/assets/icons/icon-128x128.png
  apps/blog/src/assets/icons/icon-144x144.png
  apps/blog/src/assets/icons/icon-152x152.png
  apps/blog/src/assets/icons/icon-192x192.png
  apps/blog/src/assets/icons/icon-384x384.png
  apps/blog/src/assets/icons/icon-512x512.png
  apps/blog/src/assets/icons/icon-72x72.png
  apps/blog/src/assets/icons/icon-96x96.png
  apps/blog/src/index.html
  apps/blog/src/manifest.webmanifest
  package-lock.json
  package.json
Due: app-blog

fix(blog): include manifest in staging build configuration
  apps/blog/project.json
Due: app-blog

Path conditions:
  app-blog: any of: apps/blog
  lib-blog-container: any of: ng-features/blog-container
  lib-styles: any of: ng-libs/styles
  lib-ui-elements: any of: ng-libs/ui-elements
  lib-util-fns: any of: libs/util-fns
