Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: md-parser, ts-libs, md-renderer, module_ng_libs, app_blog, app_ttd

.codecov.yml:

comment:
  layout: 'header, files, components, footer'
  behavior: once
  require_changes: true

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
    patch:
      default:
        target: 60%
        if_ci_failed: ignore

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: 80%
        branches:
          - '!main'
      - type: patch
        target: 60%
        if_ci_failed: ignore
  individual_components:
    - component_id: module_md_parser # this is an identifier that should not be changed
      name: md-parser # this is a display name, and can be changed freely
      paths:
        - ts-libs/md-parser/**
    - component_id: module_ts_libs
      name: ts-libs
      paths:
        - ts-libs/**
        - '!ts-libs/md-parser/**'
    - component_id: module_ng_md_renderer
      name: md-renderer
      paths:
        - ng-libs/md-renderer/**
    - component_id: module_ng_libs
      paths:
        - ng-libs/**
        - '!ng-libs/md-renderer/**'
    - component_id: app_blog
      paths:
        - apps/blog/**
    - component_id: app_ttd
      paths:
        - apps/tasks-to-do/**

use bash shell for installing dependencies
  .github/actions/install-deps/action.yml
Due: none

remove forced version for pnpm in workflow
  .github/actions/install-deps/action.yml
Due: none

update linting rules
  .cspell.json
  .markdown-link-check.json
  .mega-linter.yml
Due: none

update workflow to handle input correctly
  .github/workflows/deploy-bullet-journal.yml
Due: none

force deployment for bullet-journal
  .github/workflows/deploy-bullet-journal.yml
Due: none

improve re-usable workflow to handle possibility of deployment not working
  .github/lighthouse/lighthouse-report.parser.js
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/deploy-bullet-journal.yml
Due: none

apply formatting
  .github/lighthouse/lighthouse-report.parser.js
Due: none

make property a string
  .github/workflows/_workflow.jobs.cd.yml
Due: none

chore(.github): update workflow (#190)
  .github/lighthouse/lighthouse-report.parser.js
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/deploy-bullet-journal.yml
Due: none

chore: remove `pwa` from lighthouse report stats
  .github/lighthouse/lighthouse-report.parser.js
Due: none

chore: adjust pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: update workflow to only validate biceps on change
  .github/workflows/_workflow.jobs.cd.yml
Due: none

chore(.github): minor changes for lighthouse reports (#191)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/lighthouse/lighthouse-report.parser.js
  .github/workflows/_workflow.jobs.cd.yml
Due: none

chore: start migrate of nx
  ng-libs/md-renderer/package.json
  ng-libs/services/package.json
  ng-libs/styles/package.json
  ng-libs/ui-elements/package.json
  package.json
  pnpm-lock.yaml
Due: md-renderer, module_ng_libs

feat(deps): upgrade most dependencies and get tests running
  .eslintrc.json
  apps/blog/src/test-setup.ts
  apps/bullet-journal/src/test-setup.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.spec.ts
  ng-libs/md-renderer/src/test-setup.ts
  ng-libs/services/src/test-setup.ts
  ng-libs/styles/src/test-setup.ts
  ng-libs/ui-elements/package.json
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/test-setup.ts
  package.json
  pnpm-lock.yaml
Due: md-renderer, module_ng_libs, app_blog

feat: get blog in moderately acceptable state for styles
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/components/footer/footer.component.ts
  apps/blog/src/app/components/header/header.component.html
  apps/blog/src/app/components/header/header.component.ts
  apps/blog/src/app/primary.component.html
  apps/blog/src/app/primary.component.ts
  apps/blog/src/app/splash.component.ts
  apps/blog/src/styles.scss
  ng-libs/services/README.md
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.scss
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.ts
Due: module_ng_libs, app_blog

fix(header): remove unnecessary margin classes from icons in header component
  apps/blog/src/app/components/header/header.component.html
  apps/blog/src/app/components/header/header.component.scss
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.ts
Due: module_ng_libs, app_blog

chore: update pre-commit and pre-push hooks for improved linting and formatting checks
  .husky/pre-commit
  package.json
Due: none

test(router-nav): simplify test setup by removing unnecessary component overrides and adding required Angular Material modules
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.spec.ts
Due: module_ng_libs

fix: remove typi
  apps/blog/src/app/components/header/header.component.ts
Due: app_blog

refactor(page-introduction): enhance styling and structure of introduction component
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: module_ng_libs

chore: update prep-push script for improved build checks
  .husky/pre-push
  package.json
Due: none

chore: remove styles in index no longer used
  apps/blog/src/index.html
Due: app_blog

chore: add configuration for pre-commit and update pre-push hook
  .husky/pre-commit
  .husky/pre-push
  .mdc
Due: none

chore: remove styles documentation and references from README files
  README.md
  ng-libs/README.md
  ng-libs/ui-elements/README.md
Due: module_ng_libs

chore: update .mdc file
  .mdc
Due: none

chore: improve mdc rule
  .mdc
  prep.mdc
Due: none

feat: create bb-score application
  apps/bb-score-e2e/.eslintrc.json
  apps/bb-score-e2e/playwright.config.ts
  apps/bb-score-e2e/project.json
  apps/bb-score-e2e/src/example.spec.ts
  apps/bb-score-e2e/tsconfig.json
  apps/bb-score/.eslintrc.json
  apps/bb-score/jest.config.ts
  apps/bb-score/project.json
  apps/bb-score/public/favicon.ico
  apps/bb-score/src/app/app.component.html
  apps/bb-score/src/app/app.component.scss
  apps/bb-score/src/app/app.component.spec.ts
  apps/bb-score/src/app/app.component.ts
  apps/bb-score/src/app/app.config.ts
  apps/bb-score/src/app/app.routes.ts
  apps/bb-score/src/app/nx-welcome.component.ts
  apps/bb-score/src/index.html
  apps/bb-score/src/main.ts
  apps/bb-score/src/styles.scss
  apps/bb-score/src/test-setup.ts
  apps/bb-score/tsconfig.app.json
  apps/bb-score/tsconfig.editor.json
  apps/bb-score/tsconfig.json
  apps/bb-score/tsconfig.spec.json
Due: none

feat: integrate service worker and PWA support for bb-score application
  apps/bb-score/ngsw-config.json
  apps/bb-score/project.json
  apps/bb-score/public/favicon.ico
  apps/bb-score/public/icons/icon-128x128.png
  apps/bb-score/public/icons/icon-144x144.png
  apps/bb-score/public/icons/icon-152x152.png
  apps/bb-score/public/icons/icon-192x192.png
  apps/bb-score/public/icons/icon-384x384.png
  apps/bb-score/public/icons/icon-512x512.png
  apps/bb-score/public/icons/icon-72x72.png
  apps/bb-score/public/icons/icon-96x96.png
  apps/bb-score/public/icons/icon.svg
  apps/bb-score/public/manifest.webmanifest
  apps/bb-score/scripts/generate-icons.js
  apps/bb-score/src/app/app.component.html
  apps/bb-score/src/app/app.component.scss
  apps/bb-score/src/app/app.component.ts
  apps/bb-score/src/app/app.config.ts
  apps/bb-score/src/app/app.routes.ts
  apps/bb-score/src/app/home/home.component.spec.ts
  apps/bb-score/src/app/home/home.component.ts
  apps/bb-score/src/app/nx-welcome.component.ts
  apps/bb-score/src/app/scores/scores.component.spec.ts
  apps/bb-score/src/app/scores/scores.component.ts
  apps/bb-score/src/app/settings/settings.component.spec.ts
  apps/bb-score/src/app/settings/settings.component.ts
  apps/bb-score/src/index.html
  package.json
  pnpm-lock.yaml
Due: none

feat: enhance UI with Angular Material theming and layout
  apps/bb-score/src/app/app.component.scss
  apps/bb-score/src/app/app.component.spec.ts
  apps/bb-score/src/app/app.component.ts
  apps/bb-score/src/app/app.config.ts
  apps/bb-score/src/app/core/services/theme.service.spec.ts
  apps/bb-score/src/app/core/services/theme.service.ts
  apps/bb-score/src/index.html
  apps/bb-score/src/styles.scss
Due: none

feat: add GitHub Actions workflow for bb-score deployment
  .github/workflows/deploy-bb-score.yml
Due: none

chore: add documentation for bb-score
  README.md
  apps/bb-score/README.md
Due: none

chore: comment out links not yet created
  README.md
  apps/bb-score/README.md
Due: none

chore: resolve linting errors for spelling
  .cspell.json
Due: none
