Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: md-parser, ts-libs, md-renderer, module_ng_libs, app_blog, app_ttd

.codecov.yml:

comment:
  layout: 'header, files, components, footer'
  behavior: once
  require_changes: true

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
    patch:
      default:
        target: 60%
        if_ci_failed: ignore

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: 80%
        branches:
          - '!main'
      - type: patch
        target: 60%
        if_ci_failed: ignore
  individual_components:
    - component_id: module_md_parser # this is an identifier that should not be changed
      name: md-parser # this is a display name, and can be changed freely
      paths:
        - ts-libs/md-parser/**
    - component_id: module_ts_libs
      name: ts-libs
      paths:
        - ts-libs/**
        - '!ts-libs/md-parser/**'
    - component_id: module_ng_md_renderer
      name: md-renderer
      paths:
        - ng-libs/md-renderer/**
    - component_id: module_ng_libs
      paths:
        - ng-libs/**
        - '!ng-libs/md-renderer/**'
    - component_id: app_blog
      paths:
        - apps/blog/**
    - component_id: app_ttd
      paths:
        - apps/tasks-to-do/**

feat(bb-score): update to partially handle balls (#221)
  apps/bb-score/src/app/components/game-actions.component.ts
  apps/bb-score/src/app/components/game-play.component.ts
  apps/bb-score/src/app/components/team.component.ts
  apps/bb-score/src/app/models/index.ts
  apps/bb-score/src/app/signal-store/create-game.ts
  apps/bb-score/src/app/signal-store/game-store.ts
Due: none

feat(bb-score): extend pitch handling (#222)
  apps/bb-score/src/app/components/game-actions.component.ts
  apps/bb-score/src/app/components/game-play.component.ts
  apps/bb-score/src/app/components/team.component.ts
  apps/bb-score/src/app/models/index.ts
  apps/bb-score/src/app/signal-store/create-game.ts
  apps/bb-score/src/app/signal-store/game-store.ts
Due: none

updated to handle different types of strike outs
  apps/bb-score/src/app/components/did-they-swing.component.ts
  apps/bb-score/src/app/components/game-play.component.ts
  apps/bb-score/src/app/models/index.ts
  apps/bb-score/src/app/signal-store/create-game.ts
  apps/bb-score/src/app/signal-store/game-store.ts
Due: none

chore: update readme
  README.md
Due: none

feat(bb-score): adjust approach to recording strikes (#223)
  README.md
  apps/bb-score/src/app/components/did-they-swing.component.ts
  apps/bb-score/src/app/components/game-play.component.ts
  apps/bb-score/src/app/models/index.ts
  apps/bb-score/src/app/signal-store/create-game.ts
  apps/bb-score/src/app/signal-store/game-store.ts
Due: none

chore: nx migrate to v22
  nx.json
  package.json
  pnpm-lock.yaml
Due: none

chore(ui-elements): apply nx v22 migrations
  ng-libs/ui-elements/project.json
  ng-libs/ui-elements/src/lib/loading/loading.component.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
  ng-libs/ui-elements/tsconfig.lib.json
  ng-libs/ui-elements/tsconfig.lib.prod.json
Due: module_ng_libs

chore: update vscode settings for nx generate
  .vscode/settings.json
Due: none

chore(services): apply nx v22 migrations
  ng-libs/services/project.json
  ng-libs/services/tsconfig.lib.json
  ng-libs/services/tsconfig.lib.prod.json
Due: module_ng_libs

chore(bullet-journal): apply nx v22 migrations
  apps/bullet-journal/project.json
  apps/bullet-journal/src/app/app.config.server.ts
  apps/bullet-journal/src/app/pages/landing.component.ts
  apps/bullet-journal/src/main.server.ts
  apps/bullet-journal/tsconfig.app.json
Due: none

chore(md-renderer): apply nx v22 migrations
  ng-libs/md-renderer/project.json
  ng-libs/md-renderer/src/lib/components/md-list.component.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.ts
  ng-libs/md-renderer/tsconfig.lib.json
  ng-libs/md-renderer/tsconfig.lib.prod.json
Due: md-renderer

chore(blog): apply nx v22 migrations
  apps/blog/project.json
  apps/blog/src/app/app.config.server.ts
  apps/blog/src/app/components/display-markdown/display-markdown.component.ts
  apps/blog/src/app/components/footer/footer.component.ts
  apps/blog/src/app/components/header/header.component.ts
  apps/blog/src/app/pages/about-me/about-me.component.ts
  apps/blog/src/app/pages/development-notes/development-notes.component.ts
  apps/blog/src/app/pages/landing/landing.component.ts
  apps/blog/src/app/pages/not-found/not-found.component.ts
  apps/blog/src/app/splash.component.ts
  apps/blog/src/main.server.ts
  apps/blog/tsconfig.app.json
Due: app_blog

chore(bb-score): apply nx v22 migrations
  apps/bb-score/project.json
  apps/bb-score/src/app/app.component.ts
  apps/bb-score/src/app/components/did-they-swing.component.ts
  apps/bb-score/src/app/components/game-actions.component.ts
  apps/bb-score/src/app/components/game-play.component.ts
  apps/bb-score/src/app/components/inning-info.component.ts
  apps/bb-score/src/app/components/team.component.ts
  apps/bb-score/tsconfig.app.json
Due: none

chore: adjust linting rules
  .jscpd.json
Due: none

feat(bu-jo): implement PWA for application
  apps/bullet-journal/ngsw-config.json
  apps/bullet-journal/project.json
  apps/bullet-journal/public/icons/icon-128x128.png
  apps/bullet-journal/public/icons/icon-144x144.png
  apps/bullet-journal/public/icons/icon-152x152.png
  apps/bullet-journal/public/icons/icon-192x192.png
  apps/bullet-journal/public/icons/icon-384x384.png
  apps/bullet-journal/public/icons/icon-512x512.png
  apps/bullet-journal/public/icons/icon-72x72.png
  apps/bullet-journal/public/icons/icon-96x96.png
  apps/bullet-journal/public/manifest.webmanifest
  apps/bullet-journal/src/app/app.config.ts
  apps/bullet-journal/src/index.html
Due: none

add peacock settings for VSCode
  .vscode/settings.json
Due: none

initial run of nx migrate
  package.json
  pnpm-lock.yaml
Due: none

ran migrations for nx migrate
  .gitignore
  apps/bb-score/tsconfig.json
  apps/bb-score/tsconfig.spec.json
  apps/blog/src/main.server.ts
  apps/blog/src/main.ts
  apps/blog/tsconfig.json
  apps/blog/tsconfig.spec.json
  apps/bullet-journal/src/main.server.ts
  apps/bullet-journal/tsconfig.json
  apps/bullet-journal/tsconfig.spec.json
  ng-libs/md-renderer/tsconfig.json
  ng-libs/md-renderer/tsconfig.spec.json
  ng-libs/services/tsconfig.json
  ng-libs/services/tsconfig.spec.json
  ng-libs/ui-elements/tsconfig.json
  ng-libs/ui-elements/tsconfig.spec.json
  nx.json
Due: md-renderer, module_ng_libs, app_blog

update prep-push command
  package.json
Due: none

apply formatting
  .vscode/settings.json
  apps/blog/src/main.server.ts
  apps/blog/src/main.ts
  apps/bullet-journal/project.json
  apps/bullet-journal/src/app/app.config.ts
  apps/bullet-journal/src/index.html
  apps/bullet-journal/src/main.server.ts
Due: app_blog

resolve prep-push issues
  ng-libs/services/package.json
  ng-libs/ui-elements/package.json
Due: module_ng_libs

handle megalinter errors
  .gitignore
  .jscpd.json
Due: none

chore(repo): migrate nx packages (#225)
  .gitignore
  .jscpd.json
  .vscode/settings.json
  apps/bb-score/tsconfig.json
  apps/bb-score/tsconfig.spec.json
  apps/blog/src/main.server.ts
  apps/blog/src/main.ts
  apps/blog/tsconfig.json
  apps/blog/tsconfig.spec.json
  apps/bullet-journal/ngsw-config.json
  apps/bullet-journal/project.json
  apps/bullet-journal/public/icons/icon-128x128.png
  apps/bullet-journal/public/icons/icon-144x144.png
  apps/bullet-journal/public/icons/icon-152x152.png
  apps/bullet-journal/public/icons/icon-192x192.png
  apps/bullet-journal/public/icons/icon-384x384.png
  apps/bullet-journal/public/icons/icon-512x512.png
  apps/bullet-journal/public/icons/icon-72x72.png
  apps/bullet-journal/public/icons/icon-96x96.png
  apps/bullet-journal/public/manifest.webmanifest
  apps/bullet-journal/src/app/app.config.ts
  apps/bullet-journal/src/index.html
  apps/bullet-journal/src/main.server.ts
  apps/bullet-journal/tsconfig.json
  apps/bullet-journal/tsconfig.spec.json
  ng-libs/md-renderer/tsconfig.json
  ng-libs/md-renderer/tsconfig.spec.json
  ng-libs/services/package.json
  ng-libs/services/tsconfig.json
  ng-libs/services/tsconfig.spec.json
  ng-libs/ui-elements/package.json
  ng-libs/ui-elements/tsconfig.json
  ng-libs/ui-elements/tsconfig.spec.json
  nx.json
  package.json
  pnpm-lock.yaml
Due: md-renderer, module_ng_libs, app_blog

update actions
  .github/actions/install-deps/action.yml
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/ci-all.yml
  .github/workflows/mega-linter.yml
Due: none

update other actions using node24
  .github/workflows/_workflow.jobs.cd.yml
Due: none

update access for `manifest` property from lighthouse action
  .github/workflows/_workflow.jobs.cd.yml
Due: none

inform actionlint of output for lighthouse
  .github/actionlint.yaml
  .github/workflows/_workflow.jobs.cd.yml
Due: none

make actionlint raise errors as warnings
  .github/actionlint.yaml
  .mega-linter.yml
Due: none

chore(actions): update actions to use node 24 (#226)
  .github/actions/install-deps/action.yml
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/ci-all.yml
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Due: none

chore: add basic instructions
  .agent/workflows/build-and-test.md
  .agent/workflows/create-feature.md
  .cursorrules
Due: none

add agent workflow or github actions
  .agent/workflows/manage-github-actions.md
Due: none
