Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: md-parser, ts-libs, md-renderer, module_ng_libs, app_blog, app_ttd

feat(task-management): use loading-indicator
  ng-libs/task-management/package.json
  ng-libs/task-management/src/lib/lib.routes.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.spec.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.html
  ng-libs/task-management/src/lib/task-management/task-management.component.spec.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.ts
Due: module_ng_libs

fix(ttd): use proper theming
  apps/tasks-to-do/project.json
  apps/tasks-to-do/src/styles.scss
Due: app_ttd

feat(task-management): adjust approach to display tasks
  ng-libs/task-management/package.json
  ng-libs/task-management/src/lib/lib.routes.ts
  ng-libs/task-management/src/lib/models/described-task.ts
  ng-libs/task-management/src/lib/models/index.ts
  ng-libs/task-management/src/lib/models/option-detail.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.spec.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
  ng-libs/task-management/src/lib/task-management.component.html
  ng-libs/task-management/src/lib/task-management.component.scss
  ng-libs/task-management/src/lib/task-management.component.spec.ts
  ng-libs/task-management/src/lib/task-management.component.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.html
  ng-libs/task-management/src/lib/task-management/task-management.component.scss
  ng-libs/task-management/src/lib/task-management/task-management.component.ts
Due: module_ng_libs

feat!: remove task-management project
  ng-libs/task-management/.eslintrc.json
  ng-libs/task-management/README.md
  ng-libs/task-management/jest.config.ts
  ng-libs/task-management/ng-package.json
  ng-libs/task-management/package.json
  ng-libs/task-management/project.json
  ng-libs/task-management/src/index.ts
  ng-libs/task-management/src/lib/components/index.ts
  ng-libs/task-management/src/lib/components/task-view.component.spec.ts
  ng-libs/task-management/src/lib/components/task-view.component.ts
  ng-libs/task-management/src/lib/lib.routes.ts
  ng-libs/task-management/src/lib/models/described-task.ts
  ng-libs/task-management/src/lib/models/index.ts
  ng-libs/task-management/src/lib/models/option-detail.ts
  ng-libs/task-management/src/lib/models/task-state.ts
  ng-libs/task-management/src/lib/models/task.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.spec.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
  ng-libs/task-management/src/lib/services/index.ts
  ng-libs/task-management/src/lib/services/static-tasks.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.spec.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
  ng-libs/task-management/src/lib/task-management.component.html
  ng-libs/task-management/src/lib/task-management.component.scss
  ng-libs/task-management/src/lib/task-management.component.spec.ts
  ng-libs/task-management/src/lib/task-management.component.ts
  ng-libs/task-management/src/test-setup.ts
  ng-libs/task-management/tsconfig.json
  ng-libs/task-management/tsconfig.lib.json
  ng-libs/task-management/tsconfig.lib.prod.json
  ng-libs/task-management/tsconfig.spec.json
Due: module_ng_libs

feat!: remove loading-indicator library
  ng-libs/loading-indicator/.eslintrc.json
  ng-libs/loading-indicator/README.md
  ng-libs/loading-indicator/jest.config.ts
  ng-libs/loading-indicator/ng-package.json
  ng-libs/loading-indicator/package.json
  ng-libs/loading-indicator/project.json
  ng-libs/loading-indicator/src/index.ts
  ng-libs/loading-indicator/src/lib/loading-indicator.component.spec.ts
  ng-libs/loading-indicator/src/lib/loading-indicator.component.ts
  ng-libs/loading-indicator/src/lib/loading.service.spec.ts
  ng-libs/loading-indicator/src/lib/loading.service.ts
  ng-libs/loading-indicator/src/lib/provide-loading-indicator.spec.ts
  ng-libs/loading-indicator/src/lib/provide-loading-indicator.ts
  ng-libs/loading-indicator/src/test-setup.ts
  ng-libs/loading-indicator/tsconfig.json
  ng-libs/loading-indicator/tsconfig.lib.json
  ng-libs/loading-indicator/tsconfig.lib.prod.json
  ng-libs/loading-indicator/tsconfig.spec.json
Due: module_ng_libs

chore: remove scripts for ttd
  .run/swa_ttd.run.xml
  .run/ttd_serve.run.xml
  package.json
Due: none

feat(.github): update workflows
  .github/lighthouse/lighthouse-report.parser.js
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/ci-all.yml
  .github/workflows/ci_cd.yml
  .github/workflows/deploy-blog.yml
Due: none

chore: add status badges to README
  README.md
Due: none

fix(.github): make clean up job have no dependencies
  .github/workflows/_workflow.jobs.cd.yml
Due: none

adjust needs for cd
  .github/workflows/_workflow.jobs.cd.yml
Due: none

chore: apply formatting
  README.md
Due: none

update workflows
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/ci-all.yml
Due: none

remove needs for deploy
  .github/workflows/deploy-blog.yml
Due: none

update permissions for deploy
  .github/workflows/deploy-blog.yml
Due: none

update header for lighthouse comment
  .github/workflows/_workflow.jobs.cd.yml
Due: none

set message correctly
  .github/workflows/_workflow.jobs.cd.yml
Due: none

chore: update codecov configuration
  .codecov.yml
  README.md
Due: none

chore: update codecov configuration (#185)
  .codecov.yml
  README.md
Due: none

chore(blog): remove animation logging
  apps/blog/src/app/primary.component.ts
Due: app_blog

fix(md-renderer): add margin-bottom to quote-block
  ng-libs/md-renderer/src/lib/components/md-quote-block.component.ts
Due: md-renderer

fix(md-renderer): show inline code in link
  ng-libs/md-renderer/src/lib/components/md-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
Due: md-renderer

chore: apply formatting
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
Due: md-renderer

chore(blog): remove animation logging (#186)
  apps/blog/src/app/primary.component.ts
Due: app_blog

fix(md-renderer): update display of link and quote block (#187)
  ng-libs/md-renderer/src/lib/components/md-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/md-quote-block.component.ts
Due: md-renderer

chore: tweak README badges
  README.md
Due: none

Update README.md
  README.md
Due: none

chore: tweak README badges (#188)
  README.md
Due: none

feat: create bullet-journal application
  apps/buillet-journal-e2e/.eslintrc.json
  apps/buillet-journal-e2e/playwright.config.ts
  apps/buillet-journal-e2e/project.json
  apps/buillet-journal-e2e/src/example.spec.ts
  apps/buillet-journal-e2e/tsconfig.json
  apps/buillet-journal/.eslintrc.json
  apps/buillet-journal/jest.config.ts
  apps/buillet-journal/project.json
  apps/buillet-journal/public/favicon.ico
  apps/buillet-journal/server.ts
  apps/buillet-journal/src/app/app.component.spec.ts
  apps/buillet-journal/src/app/app.component.ts
  apps/buillet-journal/src/app/app.config.server.ts
  apps/buillet-journal/src/app/app.config.ts
  apps/buillet-journal/src/app/app.routes.ts
  apps/buillet-journal/src/app/nx-welcome.component.ts
  apps/buillet-journal/src/index.html
  apps/buillet-journal/src/main.server.ts
  apps/buillet-journal/src/main.ts
  apps/buillet-journal/src/styles.scss
  apps/buillet-journal/src/test-setup.ts
  apps/buillet-journal/tsconfig.app.json
  apps/buillet-journal/tsconfig.editor.json
  apps/buillet-journal/tsconfig.json
  apps/buillet-journal/tsconfig.spec.json
  package-lock.json
  package.json
Due: none

remove nx-welcome component
  apps/buillet-journal/src/app/app.component.spec.ts
  apps/buillet-journal/src/app/app.component.ts
  apps/buillet-journal/src/app/nx-welcome.component.ts
  apps/buillet-journal/src/index.html
Due: none

add scripts to run and icon
  apps/buillet-journal/public/android-chrome-192x192.png
  apps/buillet-journal/public/android-chrome-512x512.png
  apps/buillet-journal/public/apple-touch-icon.png
  apps/buillet-journal/public/favicon-16x16.png
  apps/buillet-journal/public/favicon-32x32.png
  apps/buillet-journal/public/favicon.ico
  apps/buillet-journal/public/site.webmanifest
  apps/buillet-journal/public/staticwebapp.config.json
  package.json
Due: none

add workflow for bullet-journal
  .codecov.yml
  .github/workflows/deploy-bullet-journal.yml
  .vscode/settings.json
  README.md
  apps/buillet-journal/public/logo-150.webp
Due: none

apply formatting
  .vscode/settings.json
  apps/buillet-journal/public/site.webmanifest
Due: none

fix typo in folder name
  apps/buillet-journal/src/styles.scss
  apps/bullet-journal-e2e/.eslintrc.json
  apps/bullet-journal-e2e/playwright.config.ts
  apps/bullet-journal-e2e/project.json
  apps/bullet-journal-e2e/src/example.spec.ts
  apps/bullet-journal-e2e/tsconfig.json
  apps/bullet-journal/.eslintrc.json
  apps/bullet-journal/jest.config.ts
  apps/bullet-journal/project.json
  apps/bullet-journal/public/android-chrome-192x192.png
  apps/bullet-journal/public/android-chrome-512x512.png
  apps/bullet-journal/public/apple-touch-icon.png
  apps/bullet-journal/public/favicon-16x16.png
  apps/bullet-journal/public/favicon-32x32.png
  apps/bullet-journal/public/favicon.ico
  apps/bullet-journal/public/logo-150.webp
  apps/bullet-journal/public/site.webmanifest
  apps/bullet-journal/public/staticwebapp.config.json
  apps/bullet-journal/server.ts
  apps/bullet-journal/src/app/app.component.spec.ts
  apps/bullet-journal/src/app/app.component.ts
  apps/bullet-journal/src/app/app.config.server.ts
  apps/bullet-journal/src/app/app.config.ts
  apps/bullet-journal/src/app/app.routes.ts
  apps/bullet-journal/src/index.html
  apps/bullet-journal/src/main.server.ts
  apps/bullet-journal/src/main.ts
  apps/bullet-journal/src/styles.scss
  apps/bullet-journal/src/test-setup.ts
  apps/bullet-journal/tsconfig.app.json
  apps/bullet-journal/tsconfig.editor.json
  apps/bullet-journal/tsconfig.json
  apps/bullet-journal/tsconfig.spec.json
  package-lock.json
  package.json
Due: none

use pnpm packageManageer
  .github/actions/install-deps/action.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

add force_deploy with manual start for deploy
  .github/workflows/deploy-bullet-journal.yml
Due: none

correct typo again and get landing page for app
  apps/bullet-journal-e2e/project.json
  apps/bullet-journal/jest.config.ts
  apps/bullet-journal/project.json
  apps/bullet-journal/src/app/app.routes.ts
  apps/bullet-journal/src/app/pages/landing.component.spec.ts
  apps/bullet-journal/src/app/pages/landing.component.ts
  apps/bullet-journal/src/index.html
Due: none

complete landing for application
  apps/bullet-journal/src/app/pages/landing.component.ts
  apps/bullet-journal/src/index.html
  apps/bullet-journal/src/styles.scss
Due: none

fix formatting
  .prettierignore
  apps/bullet-journal/project.json
  apps/bullet-journal/src/app/app.config.ts
  apps/bullet-journal/src/app/app.routes.ts
  apps/bullet-journal/src/index.html
  apps/bullet-journal/src/styles.scss
Due: none

Path conditions:
  md-parser: any of: ts-libs/md-parser/**
  ts-libs: any of: ts-libs/**, but not: ts-libs/md-parser/**
  md-renderer: any of: ng-libs/md-renderer/**
  module_ng_libs: any of: ng-libs/**, but not: ng-libs/md-renderer/**
  app_blog: any of: apps/blog/**
  app_ttd: any of: apps/tasks-to-do/**
