Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app-blog, lib-blog-container, lib-styles, lib-ui-elements, lib-util-fns

chore: use `lcov` coverage reporter
  nx.json
Due: none

chore: publish coverage uses codecov (#14)
  .codecov.yml
  .github/workflows/all-ci.yml
  nx.json
Due: none

chore(docs): update base README.md
  README.md
Due: none

chore(docs): update base README.md (#15)
  README.md
Due: none

chore: migrate to nx 18.3.4
  ng-features/blog-container/package.json
  ng-libs/ui-elements/package.json
  package-lock.json
  package.json
Due: lib-blog-container, lib-ui-elements

chore: update lacking deps
  package-lock.json
  package.json
Due: none

chore: sync linting errors between local and remote
  ng-features/blog-container/package.json
  ng-libs/ui-elements/package.json
  nx.json
Due: lib-blog-container, lib-ui-elements

chore: migrate to nx 18.3.4 (#16)
  ng-features/blog-container/package.json
  ng-libs/ui-elements/package.json
  nx.json
  package-lock.json
  package.json
Due: lib-blog-container, lib-ui-elements

feat(ng-libs): create ng-services library with `PjLogger`
  .gitattributes
  ng-libs/services/.eslintrc.json
  ng-libs/services/README.md
  ng-libs/services/jest.config.ts
  ng-libs/services/ng-package.json
  ng-libs/services/package.json
  ng-libs/services/project.json
  ng-libs/services/src/index.ts
  ng-libs/services/src/lib/pj-logger/README.md
  ng-libs/services/src/lib/pj-logger/implementations/debug-logger.service.spec.ts
  ng-libs/services/src/lib/pj-logger/implementations/debug-logger.service.ts
  ng-libs/services/src/lib/pj-logger/implementations/live-logger.service.spec.ts
  ng-libs/services/src/lib/pj-logger/implementations/live-logger.service.ts
  ng-libs/services/src/lib/pj-logger/index.ts
  ng-libs/services/src/lib/pj-logger/log-fns.type.ts
  ng-libs/services/src/lib/pj-logger/pj-logger.provider.spec.ts
  ng-libs/services/src/lib/pj-logger/pj-logger.provider.ts
  ng-libs/services/src/lib/pj-logger/pj-logger.service.ts
  ng-libs/services/src/test-setup.ts
  ng-libs/services/tsconfig.json
  ng-libs/services/tsconfig.lib.json
  ng-libs/services/tsconfig.lib.prod.json
  ng-libs/services/tsconfig.spec.json
  tsconfig.base.json
Due: none

feat(ng-services): create pj-browser-providers service
  ng-libs/services/README.md
  ng-libs/services/src/index.ts
  ng-libs/services/src/lib/pj-browser-providers/README.md
  ng-libs/services/src/lib/pj-browser-providers/index.ts
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.provider.spec.ts
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.provider.ts
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.service.spec.ts
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.service.ts
Due: none

feat(ui-elements): create theme-toggle.component
  ng-libs/ui-elements/package.json
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/theme-selector/index.ts
  ng-libs/ui-elements/src/lib/theme-selector/services/theme-provider.service.spec.ts
  ng-libs/ui-elements/src/lib/theme-selector/services/theme-provider.service.ts
  ng-libs/ui-elements/src/lib/theme-selector/theme-toggle.component.spec.ts
  ng-libs/ui-elements/src/lib/theme-selector/theme-toggle.component.ts
  ng-libs/ui-elements/src/lib/theme-selector/themes.type.ts
Due: lib-ui-elements

chore(blog): start using theme toggle in root component
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.ts
  apps/blog/src/app/app.config.ts
Due: app-blog

feat(styles): update to allow opacity for backgrounds
  apps/blog/src/app/pages/about-me.component.scss
  apps/blog/src/app/pages/landing.component.ts
  ng-libs/styles/src/lib/styles/dark-theme.scss
  ng-libs/styles/src/lib/styles/global.scss
  ng-libs/styles/src/lib/styles/light-theme.scss
  ng-libs/styles/src/lib/styles/mixins.scss
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.scss
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.scss
Due: app-blog, lib-styles, lib-ui-elements

fix(ui-elements): update theme toggle display
  ng-libs/ui-elements/src/lib/theme-selector/theme-toggle.component.spec.ts
  ng-libs/ui-elements/src/lib/theme-selector/theme-toggle.component.ts
Due: lib-ui-elements

feat(blog): use theme toggle to toggle theme
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.spec.ts
  apps/blog/src/app/app.component.ts
Due: app-blog

chore(styles): update folder structure for mixins
  ng-libs/styles/src/lib/styles/mixins.scss
  ng-libs/styles/src/lib/styles/mixins/color-button.scss
  ng-libs/styles/src/lib/styles/mixins/declare-block-classes.scss
  ng-libs/styles/src/lib/styles/mixins/declare-color-classes.scss
  ng-libs/styles/src/lib/styles/mixins/set-colors-and-opacity.scss
  ng-libs/styles/src/lib/styles/mixins/set-colors.scss
  ng-libs/styles/src/lib/styles/mixins/set-variables.scss
Due: lib-styles

chore(styles): update README.md to describe using styles
  ng-libs/styles/README.md
Due: lib-styles

chore(workflows): remove `/about-me` from lighthouse report
  .github/workflows/blog-build-deploy.yml
Due: none

fix(blog): remove typo in footer and defer footer load
  apps/blog/src/app/app.component.html
Due: app-blog

feat(blog): move about-me to landing
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/pages/about-me.component.ts
  apps/blog/src/app/pages/landing.component.ts
Due: app-blog

fix(blog): update code coverage for changed component
  apps/blog/src/app/pages/landing.component.spec.ts
  apps/blog/src/app/pages/landing.component.ts
Due: app-blog

fix(blog): add test for root component nav elements
  apps/blog/src/app/app.component.spec.ts
Due: app-blog

feat(blog): move about-me to landing page (#19)
  .github/workflows/blog-build-deploy.yml
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.spec.ts
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/pages/about-me.component.ts
  apps/blog/src/app/pages/landing.component.spec.ts
  apps/blog/src/app/pages/landing.component.ts
Due: app-blog

fix(ui-elements): reset active article nav when none in view
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: lib-ui-elements

feat(ui-elements): add `Back to top` nav when elements in view
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
  ng-libs/ui-elements/src/lib/article/article.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article.component.ts
Due: lib-ui-elements

feat(ui-elements): use animation to add/remove nav element
  ng-libs/ui-elements/package.json
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.html
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: lib-ui-elements

feat(blog): add animation to app config
  apps/blog/src/app/app.config.ts
Due: app-blog

fix(blog): update spec to use mocked component
  apps/blog/src/app/pages/about-me.component.spec.ts
Due: app-blog

fix(blog-container): update spec to use mocked component
  ng-features/blog-container/src/lib/pages/blog-entry/blog-entry.component.spec.ts
Due: lib-blog-container

chore(ui-elements): add test to validate back to top removed
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.spec.ts
Due: lib-ui-elements

fix(ui-elements): adjust animation keyframes for nav elements
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: lib-ui-elements

Path conditions:
  app-blog: any of: apps/blog
  lib-blog-container: any of: ng-features/blog-container
  lib-styles: any of: ng-libs/styles
  lib-ui-elements: any of: ng-libs/ui-elements
  lib-util-fns: any of: libs/util-fns
