Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app-blog, lib-blog-container, lib-styles, lib-ui-elements, lib-util-fns

feat(blog): update landing call to action functionality
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog

fix(ui-elements): rename `title` input to `introductionTitle`
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

feat(blog): add content for `development-notes`
  apps/blog/src/app/pages/development-notes/development-notes.component.html
  apps/blog/src/app/pages/development-notes/development-notes.component.spec.ts
  apps/blog/src/app/pages/development-notes/development-notes.component.ts
  apps/blog/src/assets/development_notes_background.webp
Due: app-blog

fix(blog): update usage of page-introduction
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog

fix(blog): update not-found to use `introductionTitle`
  apps/blog/src/app/pages/not-found/not-found.component.ts
Due: app-blog

fix(ui-elements): move `pj-ui-theme-toggle` into `theme-toggle` folder
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/theme-toggle/index.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.ts
  ng-libs/ui-elements/src/lib/theme-toggle/themes.type.ts
Due: lib-ui-elements

feat(blog): update not-found.component to display details
  apps/blog/src/app/pages/not-found/not-found.component.spec.ts
  apps/blog/src/app/pages/not-found/not-found.component.ts
  apps/blog/src/assets/not_found_background.webp
Due: app-blog

feat(ui-elements): allow for customizing background in page-introduction
  ng-libs/ui-elements/src/lib/page-introduction/models/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/models/introduction-background-style.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: lib-ui-elements

feat(blog): create development-notes component in pages
  apps/blog/src/app/pages/development-notes/development-notes.component.html
  apps/blog/src/app/pages/development-notes/development-notes.component.scss
  apps/blog/src/app/pages/development-notes/development-notes.component.spec.ts
  apps/blog/src/app/pages/development-notes/development-notes.component.ts
  apps/blog/src/app/pages/development-notes/index.ts
Due: app-blog

chore(blog): update folder structure
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/components/about-me/about-me.component.scss
  apps/blog/src/app/components/about-me/about-me.component.spec.ts
  apps/blog/src/app/components/about-me/about-me.component.ts
  apps/blog/src/app/components/about-me/index.ts
  apps/blog/src/app/pages/landing/index.ts
  apps/blog/src/app/pages/landing/landing.component.scss
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog

feat(blog): use page introduction in landing page
  apps/blog/src/app/pages/landing/landing.component.scss
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
Due: app-blog

fix(ui-elements): add index for `page-introduction`
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/index.ts
Due: lib-ui-elements

chore: update `*.txt` git attribute to use `lf` `eol`
  .gitattributes
Due: none

feat(blog): create `robots.txt` and include in build target
  apps/blog/project.json
  apps/blog/src/robots/production/robots.txt
  apps/blog/src/robots/staging/robots.txt
Due: app-blog

feat(workflows): update build workflow to set configuration
  .github/workflows/workflow-build-app.yml
Due: none

fix(workflows): update config check for `refs/heads/main` branch
  .github/workflows/workflow-build-app.yml
Due: none

chore(blog): adjust root spec to trigger deployment
  apps/blog/src/app/app.component.spec.ts
Due: app-blog

chore(workflows): update test affected to use `nrwl/nx-set-shas@v4`
  .github/workflows/workflow-test-affected.yml
Due: none

fix(blog): update project config to include assets for staging
  apps/blog/project.json
Due: app-blog

fix(blog): allow lighthouse agent for staging
  apps/blog/src/robots/staging/robots.txt
Due: app-blog

fix(workflow): remove `/blog` check for lighthouse reports
  .github/workflows/blog-build-deploy.yml
Due: none

fix(workflows): remove invalid base
  .github/workflows/workflow-test-affected.yml
Due: none

feat(ui-elements): create full-page-loader component
  ng-libs/ui-elements/README.md
  ng-libs/ui-elements/src/index.ts
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.spec.ts
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.ts
  ng-libs/ui-elements/src/lib/full-page-loader/index.ts
Due: lib-ui-elements

feat(blog): show full-page-loader in root component
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.ts
Due: app-blog

chore(blog): use mock FullPageLoaderComponent in root spec
  apps/blog/src/app/app.component.spec.ts
Due: app-blog

fix(ui-elements): use global background color for full-page-loader
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.ts
Due: lib-ui-elements

feat(ng-services): create `PjTheme` service with `setTheme` functionality
  ng-libs/services/README.md
  ng-libs/services/src/index.ts
  ng-libs/services/src/lib/pj-theme/README.md
  ng-libs/services/src/lib/pj-theme/index.ts
  ng-libs/services/src/lib/pj-theme/models/index.ts
  ng-libs/services/src/lib/pj-theme/models/pj-themes.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.provider.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.provider.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.ts
Due: none

feat(ng-services): add `setTheme` to `PjTheme` service
  ng-libs/services/package.json
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.ts
Due: none

fix(ui-elements): update styles for full-page-loader
  ng-libs/ui-elements/src/lib/full-page-loader/full-page-loader.component.ts
Due: lib-ui-elements

feat(ui-elements): update theme-toggle to use `PjTheme`
  ng-libs/ui-elements/src/lib/theme-toggle/index.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/services/theme-provider.service.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.ts
  ng-libs/ui-elements/src/lib/theme-toggle/themes.type.ts
Due: lib-ui-elements

Path conditions:
  app-blog: any of: apps/blog
  lib-blog-container: any of: ng-features/blog-container
  lib-styles: any of: ng-libs/styles
  lib-ui-elements: any of: ng-libs/ui-elements
  lib-util-fns: any of: libs/util-fns
