Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: md-parser, ts-libs, md-renderer, module_ng_libs, app_blog, app_ttd

feat(deps): migrate to `nx@20.0.6`
  ng-libs/ui-elements/package.json
  package-lock.json
  package.json
Due: module_ng_libs

feat(deps): migrate to `nx@20.0.6` (#178)
  ng-libs/ui-elements/package.json
  package-lock.json
  package.json
Due: module_ng_libs

feat(ttd): display tasks
  apps/tasks-to-do/src/app/app.routes.ts
  apps/tasks-to-do/src/app/pages/tasks/simple-tasks.component.spec.ts
  apps/tasks-to-do/src/app/pages/tasks/simple-tasks.component.ts
  apps/tasks-to-do/src/app/pages/tasks/task.service.spec.ts
  apps/tasks-to-do/src/app/pages/tasks/task.service.ts
  apps/tasks-to-do/src/app/pages/test-app.component.spec.ts
  apps/tasks-to-do/src/app/pages/test-app.component.ts
Due: app_ttd

feat(ttd): display tasks (#179)
  apps/tasks-to-do/src/app/app.routes.ts
  apps/tasks-to-do/src/app/pages/tasks/simple-tasks.component.spec.ts
  apps/tasks-to-do/src/app/pages/tasks/simple-tasks.component.ts
  apps/tasks-to-do/src/app/pages/tasks/task.service.spec.ts
  apps/tasks-to-do/src/app/pages/tasks/task.service.ts
  apps/tasks-to-do/src/app/pages/test-app.component.spec.ts
  apps/tasks-to-do/src/app/pages/test-app.component.ts
Due: app_ttd

feat(ng-libs): create `task-management` library
  ng-libs/task-management/.eslintrc.json
  ng-libs/task-management/README.md
  ng-libs/task-management/jest.config.ts
  ng-libs/task-management/ng-package.json
  ng-libs/task-management/package.json
  ng-libs/task-management/project.json
  ng-libs/task-management/src/index.ts
  ng-libs/task-management/src/lib/lib.routes.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.html
  ng-libs/task-management/src/lib/task-management/task-management.component.scss
  ng-libs/task-management/src/lib/task-management/task-management.component.spec.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.ts
  ng-libs/task-management/src/test-setup.ts
  ng-libs/task-management/tsconfig.json
  ng-libs/task-management/tsconfig.lib.json
  ng-libs/task-management/tsconfig.lib.prod.json
  ng-libs/task-management/tsconfig.spec.json
  tsconfig.base.json
Due: module_ng_libs

feat(task-management): add routes with display component
  ng-libs/task-management/package.json
  ng-libs/task-management/src/index.ts
  ng-libs/task-management/src/lib/lib.routes.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.spec.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.html
  ng-libs/task-management/src/lib/task-management/task-management.component.scss
  ng-libs/task-management/src/lib/task-management/task-management.component.ts
Due: module_ng_libs

feat(ttd): use task-management library
  apps/tasks-to-do/src/app/app.routes.ts
  apps/tasks-to-do/src/app/pages/primary-landing.component.ts
  apps/tasks-to-do/src/app/pages/tasks/simple-tasks.component.spec.ts
  apps/tasks-to-do/src/app/pages/tasks/simple-tasks.component.ts
  apps/tasks-to-do/src/app/pages/tasks/task.service.spec.ts
  apps/tasks-to-do/src/app/pages/tasks/task.service.ts
Due: app_ttd

feat(task-management): load static tasks
  ng-libs/task-management/src/lib/models/get-tasks-query.ts
  ng-libs/task-management/src/lib/models/index.ts
  ng-libs/task-management/src/lib/models/task-state.ts
  ng-libs/task-management/src/lib/models/task.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
  ng-libs/task-management/src/lib/services/index.ts
  ng-libs/task-management/src/lib/services/static-tasks.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.spec.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.spec.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.ts
Due: module_ng_libs

fix(task-management): resolve test failure for tasks-display
  ng-libs/task-management/src/lib/pages/tasks-display.component.spec.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
Due: module_ng_libs

feat(.github): get affected projects when testing
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/_workflow.jobs.ci.yml
  .github/workflows/ci_cd.yml
Due: none

fix(.github): update definition for CI output
  .github/workflows/_workflow.jobs.ci.yml
Due: none

fix(.github): correct grouping for deployment
  .github/workflows/_workflow.jobs.cd.yml
Due: none

adjust comma separating of affected projects
  .github/workflows/_workflow.jobs.ci.yml
Due: none

update step name for affected check
  .github/workflows/_workflow.jobs.cd.yml
Due: none

use short hand for string replacement
  .github/workflows/_workflow.jobs.ci.yml
Due: none

additional change for simplifying bash
  .github/workflows/_workflow.jobs.ci.yml
Due: none

revert previous change
  .github/workflows/_workflow.jobs.ci.yml
Due: none

remove echo
  .github/workflows/_workflow.jobs.ci.yml
Due: none

simplify process for affected, don't care about extra ,
  .github/workflows/_workflow.jobs.ci.yml
Due: none

feat(.github): get affected projects when testing (#181)
  .github/workflows/_workflow.jobs.cd.yml
  .github/workflows/_workflow.jobs.ci.yml
  .github/workflows/ci_cd.yml
Due: none

feat(task-management): create component to display task
  ng-libs/task-management/src/lib/components/index.ts
  ng-libs/task-management/src/lib/components/task-view.component.spec.ts
  ng-libs/task-management/src/lib/components/task-view.component.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.html
Due: module_ng_libs

feat(task-management): simplify tasks-data service
  ng-libs/task-management/src/lib/models/get-tasks-query.ts
  ng-libs/task-management/src/lib/models/index.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
Due: module_ng_libs

chore: add run configuration for pre-push:check
  .run/pre-push_check.run.xml
Due: none

feat(task-management): create component to display task details (#182)
  .run/pre-push_check.run.xml
  ng-libs/task-management/src/lib/components/index.ts
  ng-libs/task-management/src/lib/components/task-view.component.spec.ts
  ng-libs/task-management/src/lib/components/task-view.component.ts
  ng-libs/task-management/src/lib/models/get-tasks-query.ts
  ng-libs/task-management/src/lib/models/index.ts
  ng-libs/task-management/src/lib/pages/tasks-display.component.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.html
Due: module_ng_libs

feat(ng-libs): create loading-indicator library
  ng-libs/loading-indicator/.eslintrc.json
  ng-libs/loading-indicator/README.md
  ng-libs/loading-indicator/jest.config.ts
  ng-libs/loading-indicator/ng-package.json
  ng-libs/loading-indicator/package.json
  ng-libs/loading-indicator/project.json
  ng-libs/loading-indicator/src/index.ts
  ng-libs/loading-indicator/src/lib/loading-indicator.component.spec.ts
  ng-libs/loading-indicator/src/lib/loading-indicator.component.ts
  ng-libs/loading-indicator/src/test-setup.ts
  ng-libs/loading-indicator/tsconfig.json
  ng-libs/loading-indicator/tsconfig.lib.json
  ng-libs/loading-indicator/tsconfig.lib.prod.json
  ng-libs/loading-indicator/tsconfig.spec.json
  tsconfig.base.json
Due: module_ng_libs

feat(loading-indicator): create service for loading indicator
  ng-libs/loading-indicator/src/index.ts
  ng-libs/loading-indicator/src/lib/loading.service.spec.ts
  ng-libs/loading-indicator/src/lib/loading.service.ts
  ng-libs/loading-indicator/src/lib/provide-loading-indicator.spec.ts
  ng-libs/loading-indicator/src/lib/provide-loading-indicator.ts
Due: module_ng_libs

feat(loading-indicator): add progress spinner to component
  ng-libs/loading-indicator/package.json
  ng-libs/loading-indicator/src/lib/loading-indicator.component.spec.ts
  ng-libs/loading-indicator/src/lib/loading-indicator.component.ts
Due: module_ng_libs

feat(loading-indicator): add animation for loading
  ng-libs/loading-indicator/package.json
  ng-libs/loading-indicator/src/lib/loading-indicator.component.spec.ts
  ng-libs/loading-indicator/src/lib/loading-indicator.component.ts
Due: module_ng_libs

feat(task-management): use loading-indicator
  ng-libs/task-management/package.json
  ng-libs/task-management/src/lib/lib.routes.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.spec.ts
  ng-libs/task-management/src/lib/services/tasks-data.service.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.html
  ng-libs/task-management/src/lib/task-management/task-management.component.spec.ts
  ng-libs/task-management/src/lib/task-management/task-management.component.ts
Due: module_ng_libs

chore: allow `initialise` for spelling linter
  .cspell.json
Due: none

Path conditions:
  md-parser: any of: ts-libs/md-parser/**
  ts-libs: any of: ts-libs/**, but not: ts-libs/md-parser/**
  md-renderer: any of: ng-libs/md-renderer/**
  module_ng_libs: any of: ng-libs/**, but not: ng-libs/md-renderer/**
  app_blog: any of: apps/blog/**
  app_ttd: any of: apps/tasks-to-do/**
