Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app_blog, ng-features_blog-container, ng-libs_services, ng-libs_styles, ng-libs_ui-elements, ts-libs_ts-utils

chore: add build and serve configurations
  .run/blog_build.run.xml
  .run/blog_serve.run.xml
Due: none

fix: get specs passing
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/app.routes.ts
Due: app_blog

fix(ui-elements): update article specs
  ng-libs/ui-elements/src/lib/article/article.component.spec.ts
Due: ng-libs_ui-elements

feat(blog): move `about-us` into it's own page
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/pages/about-me/about-me.component.scss
  apps/blog/src/app/pages/about-me/about-me.component.spec.ts
  apps/blog/src/app/pages/about-me/about-me.component.ts
  apps/blog/src/app/pages/about-me/index.ts
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
  apps/blog/src/app/splash.component.ts
Due: app_blog

feat(ui-elements): stagger page navigation elements
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.html
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: ng-libs_ui-elements

fix(docs): update badge in README.md
  README.md
Due: none

feat(deps): upgrade `nx@19.3.0` and `angular@18.0` deps
  .gitignore
  ng-features/blog-container/package.json
  ng-libs/services/package.json
  ng-libs/styles/package.json
  ng-libs/ui-elements/package.json
  package-lock.json
  package.json
Due: ng-features_blog-container, ng-libs_services, ng-libs_styles, ng-libs_ui-elements

feat(deps): apply migrations for `nx@19.3.0` and `angular@18.0.x`
  .eslintrc.json
  .gitignore
  .prettierignore
  package-lock.json
  package.json
Due: none

fix(styles): prevent material errors from m3
  ng-libs/styles/src/lib/styles/mixins/generate-from-theme.scss
  ng-libs/styles/src/lib/styles/variables.scss
Due: ng-libs_styles

fix(.github): remove nx cloud usage for `format:check`
  .github/workflows/_workflow.jobs.lint_test_build_affected.yml
Due: none

fix(.github): add check that `lint_test_build` workflow successful before deploying
  .github/workflows/ci_cd.yml
Due: none

fix(.github): add step to fetch `origin/main` as `main`
  .github/workflows/_workflow.jobs.lint_test_build_affected.yml
Due: none

feat(blog): set first theme in `SplashComponent`
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/splash.component.spec.ts
  apps/blog/src/app/splash.component.ts
Due: app_blog

feat(ng-libs): create `md-renderer` library to render parsed markdown
  ng-libs/md-renderer/.eslintrc.json
  ng-libs/md-renderer/README.md
  ng-libs/md-renderer/jest.config.ts
  ng-libs/md-renderer/ng-package.json
  ng-libs/md-renderer/package.json
  ng-libs/md-renderer/project.json
  ng-libs/md-renderer/src/index.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.spec.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/test-setup.ts
  ng-libs/md-renderer/tsconfig.json
  ng-libs/md-renderer/tsconfig.lib.json
  ng-libs/md-renderer/tsconfig.lib.prod.json
  ng-libs/md-renderer/tsconfig.spec.json
  tsconfig.base.json
Due: none

chore: remove swc from packages
  package-lock.json
  package.json
Due: none

feat(ts-libs): create `ts-md-models` library
  ts-libs/ts-md-models/.eslintrc.json
  ts-libs/ts-md-models/README.md
  ts-libs/ts-md-models/jest.config.ts
  ts-libs/ts-md-models/package.json
  ts-libs/ts-md-models/project.json
  ts-libs/ts-md-models/src/index.ts
  ts-libs/ts-md-models/src/lib/ts-md-models.spec.ts
  ts-libs/ts-md-models/src/lib/ts-md-models.ts
  ts-libs/ts-md-models/tsconfig.json
  ts-libs/ts-md-models/tsconfig.lib.json
  ts-libs/ts-md-models/tsconfig.spec.json
Due: none

feat(ts-md-models): copy models and create `mdModelCheck`
  ts-libs/ts-md-models/README.md
  ts-libs/ts-md-models/src/index.ts
  ts-libs/ts-md-models/src/lib/index.ts
  ts-libs/ts-md-models/src/lib/markdown-content-type.ts
  ts-libs/ts-md-models/src/lib/markdown-content.ts
  ts-libs/ts-md-models/src/lib/md-model-check.spec.ts
  ts-libs/ts-md-models/src/lib/md-model-check.ts
  ts-libs/ts-md-models/src/lib/rich-content-type.ts
  ts-libs/ts-md-models/src/lib/ts-md-models.spec.ts
  ts-libs/ts-md-models/src/lib/ts-md-models.ts
Due: none

feat(md-parser): migrate models to `@peterjokumsen/ts-md-models`
  ts-libs/md-parser/src/lib/_models/matched-content.ts
  ts-libs/md-parser/src/lib/_models/read-result.ts
  ts-libs/md-parser/src/lib/helper-fns/get-content-type.spec.ts
  ts-libs/md-parser/src/lib/helper-fns/get-content-type.ts
  ts-libs/md-parser/src/lib/helper-fns/is-rich-content-string.ts
  ts-libs/md-parser/src/lib/helper-fns/line-has.ts
  ts-libs/md-parser/src/lib/helper-fns/regex-patterns.ts
  ts-libs/md-parser/src/lib/helper-fns/split-rich-content.ts
  ts-libs/md-parser/src/lib/index.ts
  ts-libs/md-parser/src/lib/models/index.ts
  ts-libs/md-parser/src/lib/models/markdown-content-type.ts
  ts-libs/md-parser/src/lib/models/markdown-content.ts
  ts-libs/md-parser/src/lib/models/rich-content-type.ts
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
  ts-libs/md-parser/src/lib/parse-markdown.ts
  ts-libs/md-parser/src/lib/reader-fns/content-readers.ts
  ts-libs/md-parser/src/lib/reader-fns/match-rich-content.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/match-rich-content.ts
  ts-libs/md-parser/src/lib/reader-fns/read-markdown.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-markdown.ts
  ts-libs/md-parser/src/lib/reader-fns/read-paragraph.ts
  ts-libs/md-parser/src/lib/reader-fns/read-section.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-section.ts
Due: none

feat(ts-md-models): create markdown-ast interface
  ts-libs/ts-md-models/src/lib/index.ts
  ts-libs/ts-md-models/src/lib/markdown-ast.ts
Due: none

chore: add run script for `md-parser:test`
  .run/md-parser_test.run.xml
Due: none

feat(md-parser): update `parseMarkdown` to return `MarkdownAst` interface
  ts-libs/md-parser/src/lib/README.md
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
  ts-libs/md-parser/src/lib/parse-markdown.ts
Due: none

feat(md-renderer): start implementing md-renderer
  ng-libs/md-renderer/package.json
  ng-libs/md-renderer/project.json
  ng-libs/md-renderer/src/lib/components/has-content.directive.ts
  ng-libs/md-renderer/src/lib/components/index.ts
  ng-libs/md-renderer/src/lib/components/list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/list.component.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-image.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-link.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-text.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/section.component.spec.ts
  ng-libs/md-renderer/src/lib/components/section.component.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
Due: none

feat(md-renderer): use and create id property for content
  ng-libs/md-renderer/src/lib/components/has-content.directive.ts
  ng-libs/md-renderer/src/lib/components/list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/list.component.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-image.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-link.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph-text.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/section.component.spec.ts
  ng-libs/md-renderer/src/lib/components/section.component.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/models/index.ts
  ng-libs/md-renderer/src/lib/models/with-id.ts
  ng-libs/md-renderer/src/lib/services/index.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.ts
Due: none

feat(md-renderer): create rich-content to render rich elements
  ng-libs/md-renderer/src/lib/components/paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/index.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-image.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-rich-content.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-rich-content.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-text.component.ts
  ng-libs/md-renderer/src/lib/components/section.component.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
Due: none

feat(md-renderer): create table-of-contents component
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.html
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.scss
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.spec.ts
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.ts
Due: none

chore: add run scripts for md-renderer:test
  .run/md-renderer_test.run.xml
Due: none

feat(md-renderer): start styling and add tabloe of contents
  ng-libs/md-renderer/package.json
  ng-libs/md-renderer/src/lib/components/paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/section.component.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.scss
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.spec.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.html
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.scss
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.spec.ts
  ng-libs/md-renderer/src/lib/toc/table-of-contents.component.ts
Due: none

chore: update defaults for component generator
  nx.json
Due: none

feat(ng-services): update logger to collapse groups
  ng-libs/services/src/lib/pj-logger/implementations/debug-logger.service.ts
Due: ng-libs_services

feat(md-renderer): start adjusting approach to use directives
  ng-libs/md-renderer/README.md
  ng-libs/md-renderer/src/lib/components/has-content.directive.ts
  ng-libs/md-renderer/src/lib/components/index.ts
  ng-libs/md-renderer/src/lib/components/list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/list.component.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/md-unknown.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-unknown.component.ts
  ng-libs/md-renderer/src/lib/components/md-wrapper.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-wrapper.component.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/ordered-list.component.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/index.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-image.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-image.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-rich-content.component.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/rich-content/md-text.component.ts
  ng-libs/md-renderer/src/lib/components/section.component.spec.ts
  ng-libs/md-renderer/src/lib/components/section.component.ts
  ng-libs/md-renderer/src/lib/directives/md-section.directive.spec.ts
  ng-libs/md-renderer/src/lib/directives/md-section.directive.ts
  ng-libs/md-renderer/src/lib/has-content.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.html
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.scss
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.spec.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/services/index.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
Due: none

feat(md-renderer): update md-content service id generation
  ng-libs/md-renderer/src/lib/services/md-content.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.ts
Due: none

Path conditions:
  app_blog: any of: apps/blog
  ng-features_blog-container: any of: ng-features/blog-container
  ng-libs_services: any of: ng-libs/services
  ng-libs_styles: any of: ng-libs/styles
  ng-libs_ui-elements: any of: ng-libs/ui-elements
  ts-libs_ts-utils: any of: ts-libs/ts-utils
