Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app-blog, lib-blog-container, lib-styles, lib-ui-elements, lib-util-fns

feat(blog): replace png icons with webp with bigger margin
  apps/blog/src/assets/icons/icon-128.webp
  apps/blog/src/assets/icons/icon-128x128.png
  apps/blog/src/assets/icons/icon-144.webp
  apps/blog/src/assets/icons/icon-144x144.png
  apps/blog/src/assets/icons/icon-152.webp
  apps/blog/src/assets/icons/icon-152x152.png
  apps/blog/src/assets/icons/icon-192.webp
  apps/blog/src/assets/icons/icon-192x192.png
  apps/blog/src/assets/icons/icon-384.webp
  apps/blog/src/assets/icons/icon-384x384.png
  apps/blog/src/assets/icons/icon-512.webp
  apps/blog/src/assets/icons/icon-512x512.png
  apps/blog/src/assets/icons/icon-72.webp
  apps/blog/src/assets/icons/icon-72x72.png
  apps/blog/src/assets/icons/icon-96.webp
  apps/blog/src/assets/icons/icon-96x96.png
  apps/blog/src/assets/logo-1024.webp
  apps/blog/src/manifest.webmanifest
Due: app-blog

fix(blog): adjust `logo-150.webp`
  apps/blog/src/assets/logo-150.webp
Due: app-blog

feat(blog): create change-history component
  apps/blog/src/app/components/change-history/change-history.component.html
  apps/blog/src/app/components/change-history/change-history.component.spec.ts
  apps/blog/src/app/components/change-history/change-history.component.ts
Due: app-blog

feat(blog): migrate content into change-history
  apps/blog/src/app/components/change-history/change-history.component.html
  apps/blog/src/app/components/change-history/change-history.component.spec.ts
  apps/blog/src/app/components/change-history/change-history.component.ts
  apps/blog/src/app/components/change-history/index.ts
  apps/blog/src/app/pages/development-notes/development-notes.component.html
  apps/blog/src/app/pages/development-notes/development-notes.component.spec.ts
  apps/blog/src/app/pages/development-notes/development-notes.component.ts
Due: app-blog

feat(ng-services): create parser to convert markdown to article
  apps/blog/src/app/pages/development-notes/development-notes.component.ts
  ng-libs/services/src/index.ts
  ng-libs/services/src/lib/pj-article-parser/README.md
  ng-libs/services/src/lib/pj-article-parser/index.ts
  ng-libs/services/src/lib/pj-article-parser/models/index.ts
  ng-libs/services/src/lib/pj-article-parser/models/pj-article-content.ts
  ng-libs/services/src/lib/pj-article-parser/models/pj-article-section.ts
  ng-libs/services/src/lib/pj-article-parser/models/pj-article.ts
  ng-libs/services/src/lib/pj-article-parser/pj-article-parser.provider.spec.ts
  ng-libs/services/src/lib/pj-article-parser/pj-article-parser.provider.ts
  ng-libs/services/src/lib/pj-article-parser/pj-article-parser.service.spec.ts
  ng-libs/services/src/lib/pj-article-parser/pj-article-parser.service.ts
Due: app-blog

feat(ui-elements): update article models to extend `PjArticle` elements
  ng-libs/ui-elements/src/lib/article/models/pj-ui-article-section.ts
  ng-libs/ui-elements/src/lib/article/models/pj-ui-content.ts
Due: lib-ui-elements

fix(ng-services): remove early whitespace in passed in value for parsing
  ng-libs/services/src/lib/pj-article-parser/pj-article-parser.service.spec.ts
  ng-libs/services/src/lib/pj-article-parser/pj-article-parser.service.ts
Due: none

fix(ng-services): update imports for pj-theme
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
Due: none

feat(blog): update change-history to use markdown
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/components/change-history/change-history.component.html
  apps/blog/src/app/components/change-history/change-history.component.spec.ts
  apps/blog/src/app/components/change-history/change-history.component.ts
Due: app-blog

feat(blog): update change-history to use markdown
  apps/blog/src/app/components/change-history/change-history.component.spec.ts
  apps/blog/src/app/components/change-history/change-history.component.ts
Due: app-blog

fix(blog): update assertion for change-history
  apps/blog/src/app/components/change-history/change-history.component.spec.ts
Due: app-blog

feat: add bug issue template
  .github/ISSUE_TEMPLATE/something-went-wrong-🫣.md
Due: none

feat: add feature issue template
  .github/ISSUE_TEMPLATE/💡-eureka-.md
Due: none

feat(.github): add issue template forms to replace markdown
  .github/ISSUE_TEMPLATE/eureka.yml
  .github/ISSUE_TEMPLATE/something-went-wrong-🫣.md
  .github/ISSUE_TEMPLATE/something-went-wrong.yml
  .github/ISSUE_TEMPLATE/💡-eureka-.md
Due: none

chore(ng-services): add links to github issues for PjArticleParser
  ng-libs/services/src/lib/pj-article-parser/README.md
Due: none

chore(docs): update links for libraries
  README.md
  ng-libs/README.md
  ng-libs/services/README.md
Due: none

chore(ng-services): add links for issues of markdown functionality
  ng-libs/services/src/lib/pj-article-parser/README.md
Due: none

chore(.github): update labels for generated issues
  .github/ISSUE_TEMPLATE/eureka.yml
  .github/ISSUE_TEMPLATE/something-went-wrong.yml
Due: none

feat(.github): create check-if-affected action
  .github/actions/check-if-affected/action.yml
Due: none

feat(.github): update to use nx-cloud
  .github/actions/check-if-affected/action.yml
  .github/workflows/_workflow.jobs.lint_test_build_affected.yml
  .github/workflows/all-ci.yml
  .github/workflows/blog-build-deploy.yml
  .github/workflows/workflow-build-app.yml
  .gitignore
Due: none

fix(.github): reduce jobs for prep and remove `env`
  .github/workflows/_workflow.jobs.preparation.yml
  .github/workflows/blog-build-deploy.yml
Due: none

Path conditions:
  app-blog: any of: apps/blog
  lib-blog-container: any of: ng-features/blog-container
  lib-styles: any of: ng-libs/styles
  lib-ui-elements: any of: ng-libs/ui-elements
  lib-util-fns: any of: libs/util-fns
