Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app_blog, ng-features_blog-container, ng-libs_services, ng-libs_styles, ng-libs_md-renderer, ng-libs_ui-elements, ts-libs_ts-utils, ts-libs_md-parser, ts-libs_ts-md-models

chore(.run): create `test:watch` run script
  .run/md-renderer_test_watch.run.xml
  .run/test_watch.run.xml
  .run/ts-md-models_test_watch.run.xml
Due: none

feat(md-renderer): create component for title
  ng-libs/md-renderer/src/lib/components/md-title.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-title.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/md-components.module.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.html
Due: ng-libs_md-renderer

feat(md-renderer): create `md-list` to display lists
  ng-libs/md-renderer/src/lib/components/index.ts
  ng-libs/md-renderer/src/lib/components/md-list.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-list.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/expected-content-types.ts
  ng-libs/md-renderer/src/lib/md-components.module.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
Due: ng-libs_md-renderer

fix(md-renderer): update style for list component
  ng-libs/md-renderer/src/lib/components/md-list.component.ts
Due: ng-libs_md-renderer

feat(ts-md-models)!: update models to improve `list` and `ordered-list`
  ts-libs/ts-md-models/src/lib/index.ts
  ts-libs/ts-md-models/src/lib/markdown-content.ts
  ts-libs/ts-md-models/src/lib/md-model-check.spec.ts
  ts-libs/ts-md-models/src/lib/paragraph-content-type.ts
  ts-libs/ts-md-models/src/lib/rich-content-type.ts
  ts-libs/ts-md-models/src/lib/section-content-type.ts
Due: ts-libs_ts-md-models

feat(.github): add `/about-me` page for lighthouse report
  .github/workflows/ci_cd.yml
Due: none

fix(md-parser): resolve build failure
  ts-libs/md-parser/src/lib/_models/index.ts
Due: ts-libs_md-parser

feat(blog): add list to `about-me`
  apps/blog/src/app/pages/about-me/about-me.component.ts
Due: app_blog

chore: add run script for ts-md-models project tests
  .run/ts-md-models_test_watch.run.xml
Due: none

fix(md-parser): simplify parse-markdown spec
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
Due: ts-libs_md-parser

feat(md-renderer)!: use `MarkdownType` in components
  ng-libs/md-renderer/src/lib/components/md-image.component.ts
  ng-libs/md-renderer/src/lib/components/md-link.component.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-paragraph.component.ts
  ng-libs/md-renderer/src/lib/components/md-text.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-text.component.ts
  ng-libs/md-renderer/src/lib/components/md-unknown.component.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.spec.ts
  ng-libs/md-renderer/src/lib/directives/md-content-injection.directive.ts
  ng-libs/md-renderer/src/lib/expected-content-types.ts
  ng-libs/md-renderer/src/lib/filter-content-type.spec.ts
  ng-libs/md-renderer/src/lib/filter-content-types.ts
  ng-libs/md-renderer/src/lib/has-content.ts
  ng-libs/md-renderer/src/lib/injection.tokens.ts
  ng-libs/md-renderer/src/lib/md-renderer/md-renderer.component.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.spec.ts
  ng-libs/md-renderer/src/lib/services/md-content.service.ts
Due: ng-libs_md-renderer

chore(.github): enable flags for codecov
  .codecov.yml
Due: none

chore(.github): try use coverage report path
  .codecov.yml
Due: none

chore(.github): swap to component_management for codecov
  .codecov.yml
Due: none

chore(.github): update regex for excluding md-[renderer/parser]
  .codecov.yml
Due: none

chore(.github): enable flags for codecov (#94)
  .codecov.yml
Due: none

fix(md-renderer): use correct directory for coverage report
  ng-libs/md-renderer/jest.config.ts
Due: ng-libs_md-renderer

chore(md-parser): reword ReadResult property for index
  ts-libs/md-parser/src/lib/_models/index.ts
  ts-libs/md-parser/src/lib/_models/read-content.fn.ts
  ts-libs/md-parser/src/lib/_models/read-result.ts
  ts-libs/md-parser/src/lib/reader-fns/generate-markdown-sections.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/generate-markdown-sections.ts
  ts-libs/md-parser/src/lib/reader-fns/read-list.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-list.ts
  ts-libs/md-parser/src/lib/reader-fns/read-paragraph.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-paragraph.ts
  ts-libs/md-parser/src/lib/reader-fns/read-section.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-section.ts
Due: ts-libs_md-parser

chore(md-parser): move documentation into source files
  ts-libs/md-parser/src/lib/_models/matched-content.ts
  ts-libs/md-parser/src/lib/_models/read-result.ts
  ts-libs/md-parser/src/lib/helper-fns/README.md
  ts-libs/md-parser/src/lib/helper-fns/get-header-level.ts
  ts-libs/md-parser/src/lib/helper-fns/get-section-content-type.ts
  ts-libs/md-parser/src/lib/helper-fns/line-has-content-type.ts
  ts-libs/md-parser/src/lib/helper-fns/map-has-content.ts
  ts-libs/md-parser/src/lib/helper-fns/provide-regex-tools.ts
  ts-libs/md-parser/src/lib/helper-fns/split-regex-content.ts
  ts-libs/md-parser/src/lib/parse-markdown.ts
  ts-libs/md-parser/src/lib/reader-fns/README.md
  ts-libs/md-parser/src/lib/reader-fns/generate-markdown-sections.ts
  ts-libs/md-parser/src/lib/reader-fns/match-paragraph-content-type.ts
  ts-libs/md-parser/src/lib/reader-fns/read-list.ts
  ts-libs/md-parser/src/lib/reader-fns/read-paragraph.ts
  ts-libs/md-parser/src/lib/reader-fns/read-section.ts
Due: ts-libs_md-parser

chore(md-parser): remove non-null assertions
  ts-libs/md-parser/src/lib/reader-fns/read-list.ts
Due: ts-libs_md-parser

feat(md-parser): parse `'code'` from inline code in markdown
  ts-libs/md-parser/src/lib/helper-fns/provide-regex-tools.spec.ts
  ts-libs/md-parser/src/lib/helper-fns/provide-regex-tools.ts
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-paragraph.ts
  ts-libs/md-parser/src/lib/test-mds/inline-code.md
Due: ts-libs_md-parser

feat(md-renderer): update to render parsed `code`
  ng-libs/md-renderer/src/lib/components/index.ts
  ng-libs/md-renderer/src/lib/components/md-code.component.spec.ts
  ng-libs/md-renderer/src/lib/components/md-code.component.ts
  ng-libs/md-renderer/src/lib/filter-content-types.ts
  ng-libs/md-renderer/src/lib/md-components.module.ts
  ng-libs/md-renderer/src/lib/services/md-component-map.service.ts
Due: ng-libs_md-renderer

feat(ts-md-models): add `format` to `'text'` content
  ts-libs/ts-md-models/src/lib/markdown-content.ts
Due: ts-libs_ts-md-models

feat(md-parser): create `readLine` to consume paragraph lines
  ts-libs/md-parser/src/lib/helper-fns/split-regex-content.ts
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/generate-markdown-sections.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-line.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-line.ts
  ts-libs/md-parser/src/lib/reader-fns/read-list.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-paragraph.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-paragraph.ts
  ts-libs/md-parser/src/lib/test-mds/formatted-text.md
Due: ts-libs_md-parser

feat(ts-md-models): created `MarkdownFormatType`
  ts-libs/ts-md-models/src/lib/index.ts
  ts-libs/ts-md-models/src/lib/markdown-content.ts
  ts-libs/ts-md-models/src/lib/markdown-format-type.ts
Due: ts-libs_ts-md-models

feat(md-parser): update to include formatting in text
  ts-libs/md-parser/src/lib/helper-fns/split-regex-content.ts
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/match-text-formatting.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/match-text-formatting.ts
  ts-libs/md-parser/src/lib/reader-fns/read-line.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-line.ts
Due: ts-libs_md-parser

chore: update codecov target to 80
  .codecov.yml
Due: none

chore(md-renderer): improve coverage for md-link
  ng-libs/md-renderer/src/lib/components/md-link.component.spec.ts
Due: ng-libs_md-renderer

Path conditions:
  app_blog: any of: apps/blog
  ng-features_blog-container: any of: ng-features/blog-container
  ng-libs_services: any of: ng-libs/services
  ng-libs_styles: any of: ng-libs/styles
  ng-libs_md-renderer: any of: ng-libs/md-renderer
  ng-libs_ui-elements: any of: ng-libs/ui-elements
  ts-libs_ts-utils: any of: ts-libs/ts-utils
  ts-libs_md-parser: any of: ts-libs/md-parser
  ts-libs_ts-md-models: any of: ts-libs/ts-md-models
