Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app_blog, ng-features_blog-container, ng-libs_services, ng-libs_styles, ng-libs_ui-elements, ts-libs_ts-utils

feat(.github): move check affected to `preparation` workflow
  .github/workflows/_workflow.jobs.lint_test_build_affected.yml
  .github/workflows/_workflow.jobs.preparation.yml
  .github/workflows/ci_cd.yml
Due: none

chore(.github): simplify PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(blog): create header component
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.spec.ts
  apps/blog/src/app/app.component.ts
  apps/blog/src/app/components/header/header.component.spec.ts
  apps/blog/src/app/components/header/header.component.ts
  apps/blog/src/app/components/header/index.ts
Due: app_blog

feat(blog): update header component to show secondary header
  apps/blog/src/app/components/header/header.component.html
  apps/blog/src/app/components/header/header.component.spec.ts
  apps/blog/src/app/components/header/header.component.ts
Due: app_blog

feat(blog): scroll to top when navigation starts
  apps/blog/src/app/app.component.spec.ts
  apps/blog/src/app/app.component.ts
  apps/blog/src/app/app.config.ts
Due: app_blog

feat(ui-elements): allow overrides for router nav with toggle-switch
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/components/footer/footer.component.spec.ts
  apps/blog/src/app/components/footer/footer.component.ts
  ng-libs/ui-elements/src/lib/router-nav/models/flex-overrides.ts
  ng-libs/ui-elements/src/lib/router-nav/models/index.ts
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.spec.ts
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.ts
Due: app_blog, ng-libs_ui-elements

chore(blog): include test for header `onScroll`
  apps/blog/src/app/components/header/header.component.spec.ts
Due: app_blog

fix(.github): update condition for `deploy_app`
  .github/workflows/ci_cd.yml
Due: none

fix(.github): run post_deploy when deploy_app is successful
  .github/workflows/ci_cd.yml
Due: none

fix(blog): collapse secondary header when above introduction
  apps/blog/src/app/components/header/header.component.ts
Due: app_blog

fix(ui-elements): prevent article nav from blocking secondary header
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.html
Due: ng-libs_ui-elements

fix(blog): removed test changes in change-history
  apps/blog/src/app/components/change-history/change-history.component.html
  apps/blog/src/app/components/change-history/change-history.component.ts
Due: app_blog

feat(blog): update header to use event binding
  apps/blog/src/app/components/header/header.component.html
  apps/blog/src/app/components/header/header.component.ts
Due: app_blog

chore(ng-services): remove logging in pj-article-parser
  ng-libs/services/src/lib/pj-article-parser/pj-article-parser.service.ts
Due: ng-libs_services

feat(styles): create `.splash` style for initial display
  ng-libs/styles/src/lib/styles/global.scss
  ng-libs/styles/src/lib/styles/theme-base.scss
Due: ng-libs_styles

feat(styles): create `.splash` style for initial display
  ng-libs/styles/src/lib/styles/theme-base.scss
Due: ng-libs_styles

feat(blog): create and use splash component
  apps/blog/project.json
  apps/blog/src/app/app-initial.routes.ts
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/primary.component.html
  apps/blog/src/app/primary.component.spec.ts
  apps/blog/src/app/primary.component.ts
  apps/blog/src/app/splash.component.spec.ts
  apps/blog/src/app/splash.component.ts
  apps/blog/src/index.html
  apps/blog/src/main.server.ts
  apps/blog/src/main.ts
Due: app_blog

feat(blog): create splash component
  apps/blog/project.json
  apps/blog/src/app/splash.component.ts
Due: app_blog

feat(blog): create splash component
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/app.routes.spec.ts
  apps/blog/src/app/app.routes.ts
Due: app_blog

feat(blog): move `about-us` into it's own page
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/pages/about-me/about-me.component.scss
  apps/blog/src/app/pages/about-me/about-me.component.spec.ts
  apps/blog/src/app/pages/about-me/about-me.component.ts
  apps/blog/src/app/pages/about-me/index.ts
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
  apps/blog/src/app/splash.component.ts
Due: app_blog

feat(ui-elements): stagger page navigation elements
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.html
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: ng-libs_ui-elements

fix(ui-elements): update article specs
  ng-libs/ui-elements/src/lib/article/article.component.spec.ts
Due: ng-libs_ui-elements

fix: get specs passing
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/app.routes.ts
Due: app_blog

Path conditions:
  app_blog: any of: apps/blog
  ng-features_blog-container: any of: ng-features/blog-container
  ng-libs_services: any of: ng-libs/services
  ng-libs_styles: any of: ng-libs/styles
  ng-libs_ui-elements: any of: ng-libs/ui-elements
  ts-libs_ts-utils: any of: ts-libs/ts-utils
