Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: app_blog, ng-features_blog-container, ng-libs_services, ng-libs_styles, ng-libs_ui-elements, ts-libs_ts-utils

feat: install @angular/material
  package-lock.json
  package.json
Due: none

feat(styles): update styles to use material theming
  ng-libs/styles/src/lib/styles/dark-theme.scss
  ng-libs/styles/src/lib/styles/light-theme.scss
  ng-libs/styles/src/lib/styles/mixins.scss
  ng-libs/styles/src/lib/styles/mixins/declare-block-classes.scss
  ng-libs/styles/src/lib/styles/mixins/generate-from-theme.scss
  ng-libs/styles/src/lib/styles/variables.scss
Due: ng-libs_styles

feat(blog): update to use @angular/material
  apps/blog/src/app/app.config.ts
  apps/blog/src/index.html
Due: app_blog

fix(.github): fix condition to close staging
  .github/workflows/blog-build-deploy.yml
Due: none

feat(.github): move lint bicep to infra workflow
  .github/workflows/_workflow.jobs.infra.yml
  .github/workflows/_workflow.jobs.lint_test_build_affected.yml
  .github/workflows/blog-build-deploy.yml
Due: none

feat(.github): update structure for blog workflow
  .github/workflows/blog-build-deploy.yml
Due: none

fix(.github): update build workflow to check if project affected
  .github/workflows/_workflow.jobs.lint_test_build_affected.yml
  .github/workflows/blog-build-deploy.yml
Due: none

feat(styles): update style palettes
  ng-libs/styles/src/lib/styles/dark-theme.scss
  ng-libs/styles/src/lib/styles/light-theme.scss
  ng-libs/styles/src/lib/styles/mixins/generate-from-theme.scss
  ng-libs/styles/src/lib/styles/variables.scss
Due: ng-libs_styles

feat(ui-elements): update router-nav to use `mat-raised-button`
  ng-libs/ui-elements/package.json
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.scss
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.ts
Due: ng-libs_ui-elements

feat(ui-elements): update article-nav to use material buttons
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.html
  ng-libs/ui-elements/src/lib/article/article-nav/article-nav.component.ts
Due: ng-libs_ui-elements

fix(ui-elements): make active router element bold
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.ts
Due: ng-libs_ui-elements

feat(ui-elements): use material button for call-to-action buttons
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
Due: ng-libs_ui-elements

feat(ui-elements): update theme-toggle to set theme
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.spec.ts
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.ts
Due: ng-libs_ui-elements

chore: remove cacheDirectory from config
  nx.json
Due: none

feat(ui-elements): remove output in theme-toggle
  ng-libs/ui-elements/src/lib/theme-toggle/theme-toggle.component.ts
Due: ng-libs_ui-elements

feat(blog): remove usage of output for `pj-ui-theme-toggle`
  apps/blog/src/app/app.component.html
Due: app_blog

chore(ng-services): update specs for `PjBrowserProviders`
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.service.spec.ts
Due: ng-libs_services

feat(ng-services): create `getOrCreateLinkElement` function in PjBrowserProviders
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.service.spec.ts
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.service.ts
Due: ng-libs_services

feat(ng-services): update `PjTheme` to use `getOrCreateLinkElement`
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.ts
Due: ng-libs_services

feat!(ng-services): rename `PjBrowserProviders` to `PjBrowserTools`
  ng-libs/services/README.md
  ng-libs/services/src/index.ts
  ng-libs/services/src/lib/pj-browser-providers/README.md
  ng-libs/services/src/lib/pj-browser-providers/index.ts
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.provider.spec.ts
  ng-libs/services/src/lib/pj-browser-providers/pj-browser-providers.provider.ts
  ng-libs/services/src/lib/pj-browser-tools/README.md
  ng-libs/services/src/lib/pj-browser-tools/index.ts
  ng-libs/services/src/lib/pj-browser-tools/pj-browser-tools.provider.spec.ts
  ng-libs/services/src/lib/pj-browser-tools/pj-browser-tools.provider.ts
  ng-libs/services/src/lib/pj-browser-tools/pj-browser-tools.service.spec.ts
  ng-libs/services/src/lib/pj-browser-tools/pj-browser-tools.service.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.provider.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.ts
Due: ng-libs_services

fix(blog): use correct provide for `PjBrowserTools`
  apps/blog/src/app/app.config.ts
Due: app_blog

feat(blog): create footer component
  apps/blog/src/app/app.component.html
  apps/blog/src/app/app.component.spec.ts
  apps/blog/src/app/app.component.ts
  apps/blog/src/app/app.config.ts
  apps/blog/src/app/components/footer/footer.component.spec.ts
  apps/blog/src/app/components/footer/footer.component.ts
  apps/blog/src/app/components/footer/index.ts
Due: app_blog

feat(blog): use `initial-theme` as first stylesheet to load
  apps/blog/project.json
  apps/blog/src/index.html
Due: app_blog

feat(ng-services): update debug implementation of `PjLogger`
  ng-libs/services/src/lib/pj-logger/README.md
  ng-libs/services/src/lib/pj-logger/implementations/debug-logger.service.spec.ts
  ng-libs/services/src/lib/pj-logger/implementations/debug-logger.service.ts
Due: ng-libs_services

feat(styles): create `initial-theme` to light & dark styles
  ng-libs/styles/src/lib/styles/dark-theme.scss
  ng-libs/styles/src/lib/styles/initial-theme.scss
  ng-libs/styles/src/lib/styles/light-theme.scss
  ng-libs/styles/src/lib/styles/mixins/generate-from-theme.scss
  ng-libs/styles/src/lib/styles/variables.scss
Due: ng-libs_styles

feat(blog): update index.html to always have initial theme styles
  apps/blog/src/index.html
Due: app_blog

feat(styles): wrap initial styles in `.initial-theme` selector
  ng-libs/styles/src/lib/styles/initial-theme.scss
  ng-libs/styles/src/lib/styles/mixins/color-button.scss
  ng-libs/styles/src/lib/styles/mixins/declare-block-classes.scss
  ng-libs/styles/src/lib/styles/mixins/declare-color-classes.scss
  ng-libs/styles/src/lib/styles/mixins/generate-from-theme.scss
  ng-libs/styles/src/lib/styles/mixins/set-colors.scss
  ng-libs/styles/src/lib/styles/mixins/set-variables.scss
Due: ng-libs_styles

feat(blog): use `providePjHttpTools` in app config
  apps/blog/src/app/app.config.ts
Due: app_blog

fix(ng-services): update group title for group logging in `PjBrowserTools`
  ng-libs/services/src/lib/pj-browser-tools/pj-browser-tools.service.ts
Due: ng-libs_services

feat(ng-services): create `pj-http-tools` to provide HttpClient
  ng-libs/services/README.md
  ng-libs/services/src/index.ts
  ng-libs/services/src/lib/pj-http-tools/README.md
  ng-libs/services/src/lib/pj-http-tools/index.ts
  ng-libs/services/src/lib/pj-http-tools/interceptors/debug-http-logger.interceptor.ts
  ng-libs/services/src/lib/pj-http-tools/interceptors/index.ts
  ng-libs/services/src/lib/pj-http-tools/pj-http-tools.provider.spec.ts
  ng-libs/services/src/lib/pj-http-tools/pj-http-tools.provider.ts
Due: ng-libs_services

feat!(blog): update to provide new structure for themes
  apps/blog/project.json
  apps/blog/src/index.html
Due: app_blog

feat!(ng-services): update `pj-theme` set theme to use links
  ng-libs/services/src/lib/pj-theme/pj-theme.service.spec.ts
  ng-libs/services/src/lib/pj-theme/pj-theme.service.ts
Due: ng-libs_services

feat!(styles): adjust theme approach to `base` with `colors`
  ng-libs/styles/README.md
  ng-libs/styles/src/lib/styles/initial-theme.scss
  ng-libs/styles/src/lib/styles/light-theme.scss
  ng-libs/styles/src/lib/styles/mixins/generate-from-theme.scss
  ng-libs/styles/src/lib/styles/theme-base.scss
Due: ng-libs_styles

Path conditions:
  app_blog: any of: apps/blog
  ng-features_blog-container: any of: ng-features/blog-container
  ng-libs_services: any of: ng-libs/services
  ng-libs_styles: any of: ng-libs/styles
  ng-libs_ui-elements: any of: ng-libs/ui-elements
  ts-libs_ts-utils: any of: ts-libs/ts-utils
