Repository peterjokumsen/peterjokumsen-nx-workspace: changes, and which Codecov flags are due for each by the changed paths.
All: md-parser, ts-libs, md-renderer, module_ng_libs, app_blog, app_ttd

add agent workflow for blog with development markdown in app
  .agent/workflows/blog-management.md
  apps/blog/DEVELOPMENT.md
Due: app_blog

update linting errors
  .agent/workflows/blog-management.md
  .agent/workflows/build-and-test.md
  .cspell.json
  .cursorrules
  apps/blog/DEVELOPMENT.md
Due: app_blog

chore: add AI agent instructions (#227)
  .agent/workflows/blog-management.md
  .agent/workflows/build-and-test.md
  .agent/workflows/create-feature.md
  .agent/workflows/manage-github-actions.md
  .cspell.json
  .cursorrules
  apps/blog/DEVELOPMENT.md
Due: app_blog

extend markdown using frontmatter tags as meta-data
  ts-libs/md-parser/src/lib/helper-fns/provide-regex-tools.ts
  ts-libs/md-parser/src/lib/parse-markdown.spec.ts
  ts-libs/md-parser/src/lib/parse-markdown.ts
  ts-libs/md-parser/src/lib/reader-fns/generate-markdown-sections.ts
  ts-libs/md-parser/src/lib/reader-fns/read-frontmatter.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-frontmatter.ts
  ts-libs/md-parser/src/lib/reader-fns/read-section.spec.ts
  ts-libs/md-parser/src/lib/reader-fns/read-section.ts
  ts-libs/md-parser/test-mds/has-meta-data.md
  ts-libs/ts-md-models/src/lib/index.ts
  ts-libs/ts-md-models/src/lib/markdown-ast.ts
  ts-libs/ts-md-models/src/lib/markdown-meta-data.ts
  ts-libs/ts-md-models/src/lib/section-content-type.ts
Due: md-parser, ts-libs

update blog to use markdown for page intro details
  apps/blog/src/app/app.routes.spec.ts
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/components/display-markdown/display-markdown.component.ts
  apps/blog/src/app/pages/markdown-entry/index.ts
  apps/blog/src/app/pages/markdown-entry/markdown-entry.component.scss
  apps/blog/src/app/pages/markdown-entry/markdown-entry.component.ts
  apps/blog/src/assets/about_me_background.webp
  apps/blog/src/assets/docs/about-me.md
  apps/blog/src/assets/docs/development-notes/README.md
  ng-libs/services/package.json
  ng-libs/services/src/lib/pj-markdown-client/index.ts
  ng-libs/services/src/lib/pj-markdown-client/pj-markdown-client.provider.ts
  ng-libs/services/src/lib/pj-markdown-client/services/index.ts
  ng-libs/services/src/lib/pj-markdown-client/services/seo.service.ts
  ts-libs/md-parser/src/lib/reader-fns/generate-markdown-sections.ts
Due: md-parser, module_ng_libs, app_blog

update blog to dynamically log articles
  apps/blog/.gitignore
  apps/blog/project.json
  apps/blog/scripts/generate-docs-index.ts
  apps/blog/src/app/app.routes.spec.ts
  apps/blog/src/app/app.routes.ts
  apps/blog/src/app/components/display-markdown/display-markdown.component.spec.ts
  apps/blog/src/app/components/header/header.component.html
  apps/blog/src/app/components/header/header.component.ts
  apps/blog/src/app/pages/landing/landing.component.spec.ts
  apps/blog/src/app/pages/landing/landing.component.ts
  apps/blog/src/app/pages/markdown-entry/markdown-entry.component.spec.ts
  apps/blog/src/app/pages/markdown-entry/markdown-entry.component.ts
  apps/blog/src/app/primary.component.html
  apps/blog/src/app/primary.component.spec.ts
  apps/blog/src/app/primary.component.ts
  apps/blog/src/assets/docs/development-notes/az-certifications.md
  apps/blog/src/assets/learning.webp
  ng-libs/md-renderer/src/lib/components/md-horizontal-rule.component.ts
  ng-libs/md-renderer/src/lib/components/md-image.component.ts
  ng-libs/services/src/lib/pj-markdown-client/pj-markdown-client.provider.ts
  ng-libs/services/src/lib/pj-markdown-client/pj-markdown-client.service.spec.ts
  ng-libs/services/src/lib/pj-markdown-client/pj-markdown-client.service.ts
  ng-libs/services/src/lib/pj-markdown-client/services/docs-index.service.spec.ts
  ng-libs/services/src/lib/pj-markdown-client/services/docs-index.service.ts
  ng-libs/services/src/lib/pj-markdown-client/services/index.ts
  ng-libs/ui-elements/src/lib/page-introduction/models/introduction-call-to-action.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.spec.ts
  ng-libs/ui-elements/src/lib/page-introduction/page-introduction.component.ts
  ng-libs/ui-elements/src/lib/router-nav/router-nav.component.ts
Due: md-renderer, module_ng_libs, app_blog

update az cert article
  apps/blog/src/assets/docs/development-notes/az-certifications.md
  apps/blog/src/assets/images/oidc-success.png
Due: app_blog

get roboto font used correctly
  apps/blog/src/index.html
Due: app_blog

update backdrop for az cert
  apps/blog/src/assets/learning.webp
Due: app_blog

Path conditions:
  md-parser: any of: ts-libs/md-parser/**
  ts-libs: any of: ts-libs/**, but not: ts-libs/md-parser/**
  md-renderer: any of: ng-libs/md-renderer/**
  module_ng_libs: any of: ng-libs/**, but not: ng-libs/md-renderer/**
  app_blog: any of: apps/blog/**
  app_ttd: any of: apps/tasks-to-do/**
